@font-face {
    font-family: 'avalonregular';
    src: url('../fonts/avalonregular/avalon_regular-webfont.eot');
    src: url('../fonts/avalonregular/avalon_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avalonregular/avalon_regular-webfont.woff2') format('woff2'),
    url('../fonts/avalonregular/avalon_regular-webfont.woff') format('woff'),
    url('../fonts/avalonregular/avalon_regular-webfont.ttf') format('truetype'),
    url('../fonts/avalonregular/avalon_regular-webfont.svg#avalonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* font-family: "BenderRegular"; */
@font-face {
    font-family: "BenderRegular";
    src: url("../fonts/Bender/BenderRegular/BenderRegular.eot");
    src: url("../fonts/Bender/BenderRegular/BenderRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderRegular/BenderRegular.woff") format("woff"),
    url("../fonts/Bender/BenderRegular/BenderRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBold"; */
@font-face {
    font-family: "BenderBold";
    src: url("../fonts/Bender/BenderBold/BenderBold.eot");
    src: url("../fonts/Bender/BenderBold/BenderBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBold/BenderBold.woff") format("woff"),
    url("../fonts/Bender/BenderBold/BenderBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderItalic"; */
@font-face {
    font-family: "BenderItalic";
    src: url("../fonts/Bender/BenderItalic/BenderItalic.eot");
    src: url("../fonts/Bender/BenderItalic/BenderItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderItalic/BenderItalic.woff") format("woff"),
    url("../fonts/Bender/BenderItalic/BenderItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBoldItalic"; */
@font-face {
    font-family: "BenderBoldItalic";
    src: url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.eot");
    src: url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.woff") format("woff"),
    url("../fonts/Bender/BenderBoldItalic/BenderBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlack"; */
@font-face {
    font-family: "BenderBlack";
    src: url("../fonts/Bender/BenderBlack/BenderBlack.eot");
    src: url("../fonts/Bender/BenderBlack/BenderBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBlack/BenderBlack.woff") format("woff"),
    url("../fonts/Bender/BenderBlack/BenderBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderBlackItalic"; */
@font-face {
    font-family: "BenderBlackItalic";
    src: url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.eot");
    src: url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.woff") format("woff"),
    url("../fonts/Bender/BenderBlackItalic/BenderBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLight"; */
@font-face {
    font-family: "BenderLight";
    src: url("../fonts/Bender/BenderLight/BenderLight.eot");
    src: url("../fonts/Bender/BenderLight/BenderLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderLight/BenderLight.woff") format("woff"),
    url("../fonts/Bender/BenderLight/BenderLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BenderLightItalic"; */
@font-face {
    font-family: "BenderLightItalic";
    src: url("../fonts/Bender/BenderLightItalic/BenderLightItalic.eot");
    src: url("../fonts/Bender/BenderLightItalic/BenderLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Bender/BenderLightItalic/BenderLightItalic.woff") format("woff"),
    url("../fonts/Bender/BenderLightItalic/BenderLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
