@media (max-width: 1170px){
    .wrap{
        width: 680px;
    }
/*====================================================================================================================*/
    .logo {
        margin: 30px 0 0 0;
        width: 195px;
        float: left;
    }
    .logo img{
        width: 100%;
    }
    .navBox {
        height: 70px;
    }
    .hiddenMenu {
        left: -92px;
        top: 70px;
        width: 680px;
    }
    .hiddenMenu .hiddenMenuItem {
        width: 45%;
        margin: 0 2.3% 35px;
    }
    .navBox .hiddenMenu .hiddenMenuItem > li > a {
        padding: 0 15px 0 20px;
    }
    .hiddenMenu .hiddenMenuItem > li {
        display: block;
    }
    .hiddenMenu {
        padding: 20px 18px 2px 20px;
    }
    .hiddenSubMenu {
        left: 0;
        top: 20px;
    }
    .navBox .nav li:first-child{
        margin: 0 15px 0 0;
    }
    .navBox .nav li:first-child a img{
        width: 24%;
    }
    .navBox .nav li:nth-child(2) a img{
        top: -3px;
    }
    .navBox .nav li:nth-child(3) a img{
        width: 21%;
    }
    .navBox .nav li a {
        padding: 0 0 0 20px;
        font-size: 16px;
    }
    .navBox .nav li a img {
        left: 0;
        width: 19%;
        position: absolute;
    }
    .navBox .nav li a span {
        top: 5px;
    }
    .navBox .searchBox form {
        width: 240px;
        height: 35px;
    }
    .navBox .searchBox form .submit {
        height: 35px;
    }
    .navBox .searchBox .searchBtn {
        height: 35px;
    }
    .navBox .searchBox .searchBtn span {
        width: 60%;
        margin: 0 0 0 8px;
    }
    .navBox .searchBox .searchBtn span:nth-child(1) {
        top: 5px;
    }
    .navBox .searchBox .searchBtn span:nth-child(2) {
        top: 15px;
    }
    .navBox .searchBox .searchBtn span:nth-child(3) {
        top: 25px;
    }
/*====================================================================================================================*/
    .content .contentInside .contentItem {
        width: 100%;
        padding: 0 0 50px 0;
    }
    .content .contentInside {
        padding: 20px;
    }
    .content .contentInside .contentItem h3 {
        padding: 0;
        text-align: center;
    }
    .content .contentInside .contentItem .greyBox {
        margin: 45px auto 0;
    }
    .content .contentInside .contentBottomItem li {
        padding: 50px 0 0 0;
    }
    .content .contentInside .contentBottomItem li .contentBottomItemImg {
        float: none;
        margin: 0 auto 20px;
    }
    .content .contentInside .contentBottomItem li .contentBottomItemContent {
        width: 100%;
        float: none;
        padding: 0 5px;
        text-align: center;
    }
/*====================================================================================================================*/
    .footer .footerBottom {
        padding: 19px 0 19px 0;
    }
    .footer .footerContent .footerContentLeft,
    .footer .footerContent .footerContentRight {
        width: 100%;
    }
    .footerContentRight {
        margin-top: 65px;
    }
    .footer .footerBottom .footerNav {
        float: right;
    }
    .footer .footerBottom .footerNewsletter {
        margin: 85px 0 0 0;
    }
    .footer .footerPayment {
        position: relative;
        top: -198px;
        margin-left: 38px;
    }

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||BLOG|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .blog #blogItems .blogItem {
        width: 47.6%;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||FAQ||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .faq .titleAcc {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .faq .faqPayment {
        margin: 100px 39px 34px 0;
    }
    .faq .accInside {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .faq .faqInfo {
        height: auto;
        padding: 20px 0 20px 0;
        line-height: 17px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||INDEX||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .index .indexSliderItem .indexSliderItemContent {
        padding: 20px 0 0 40px;
    }
    .index .indexSliderItem h2 {
        font-size: 30px;
        padding: 0 0 5px 0;
    }
    .index .indexSliderItem h2 span {
        font-size: 40px;
        display: block;
    }
    .index .indexSliderItem h3 {
        font-size: 15px;
        width: 266px;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .indexSlider img{
        width: 100%;
    }
    .index .indexSliderItem a {
        width: 130px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    .sliderBox .outside #indexSliderItem-prev .bx-prev, .sliderBox .outside #indexSliderItem-next .bx-next {
        width: 30px;
        height: 30px;
        line-height: 31px;
    }
    .sliderBox .outside p {
        bottom: 23px;
    }
    br{
        display: none;
    }


    .productsBox > h2 {
        font-size: 24px;
    }
    .productsBox .outside p {
        top: 3px;
    }
    .productsBlocks ul li {
        width: 47%;
        margin: 0 1.5% 20px;
        float: none;
        display: inline-block;
        vertical-align: top;
        min-height: 317px;
    }
    .productsBlocks ul li:nth-child(2){
        margin: 0 1% 20px;
    }
    .productsBlocks ul li:last-child {
        display: block;
        margin: 0 auto;
    }
    .indexFooterContent .sliderLeftItem {
        width: 46%;
        vertical-align: top;
        margin: 0 1.8% 20px;
    }
    .indexFooterContent .sliderLeftItem img{
        width: 100%;
    }
    .sliderLeftItem .sliderLeftItemContent h3 {
        text-align: left;
    }
    .sliderLeftItem .sliderLeftItemContent p a {
        display: block;
    }
    .indexFooterContent .sliderLeftItem:last-child {
        margin: 0 1.8% 20px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||PRODUCT||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .productBoxItem {
        width: 50%;
        margin-bottom: 40px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||LOGIN||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .logIn .logInContent {
        padding: 0;
    }
    .logIn .logInLeft {
        padding: 20px;
        border-right: none;
        border-bottom: 2px solid #F6F6F6;
        width: 100%;
    }
    .logIn .logInRight {
        padding: 20px;
        width: 100%;
    }
    .logIn .logInRight a {
        margin: 50px auto 20px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||CONTACT US|||||||||||||||||||||||||||||||||||||||||||||||||*/
    .contactUs .contactUsItem1 {
        padding: 0;
        width: 100%;
    }
    .contactUs .contactUsItem1 form button {
        margin: 15px auto;
        display: block;
    }
    .contactUs .contactUsItem2 {
        margin-top: 40px;
        width: 100%;
    }
    .contactUs .contactUsItem3 {
        width: 100%;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||SERVICE||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .serviceMenu{
        left: -231px;
    }
    .service.content .faqInfo {
        height: auto;
        line-height: 18px;
        padding: 15px;
    }
    .service.content .serviceBox .serviceLeft,
    .service.content .serviceBox .serviceRight {
        width: 100%;
    }
    .service.content .serviceBox .serviceLeft .serviceCalculator,
    .service.content .serviceBox .serviceRight .serviceCalculator {
        padding: 5px 0 0 0;
        margin-bottom: 60px;
    }
    .service.content .serviceBox .serviceLeft .costsBox,
    .service.content .serviceBox .serviceRight .costsBox {
        margin: 0 0 0;
    }
    .service.content .serviceBox .serviceRight {
        padding-left: 0;
    }
    .service.content .serviceBox .serviceRight .serviceForm {
        padding-right: 0;
    }
    .service.content .serviceBox .serviceRight .serviceForm input {
        width: 89%;
    }
    .service.content .serviceBox .serviceLeft .costsBox h2{
        margin-bottom: 100px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||CHECKOUT|||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .checkOutTable table tr:not(:first-child) td:first-child img {
        height: 80px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(2) {
        padding-left: 10px;
        width: 190px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(3) {
        width: 80px;
        font-size: 14px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(4) {
        width: 145px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(5) {
        padding-right: 65px;
        font-size: 14px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(4) .numberBox {
        width: 110px;
        margin: 0 0 0 25px;
    }
    .checkOutTable table tr td:last-child {
        margin: 29px 21px 0 0;
    }
    .checkOutTable table tr:nth-child(1) th:last-child {
        padding-right: 38px;
    }
    .checkOutPrice .checkOutPriceHeader {
        padding: 0 30px 46px 0;
    }
    .checkOutPrice .checkOutPriceHeader h2 {
        font-size: 16px;
    }
    .checkOutPrice .checkOutPriceHeader h3 {
        font-size: 22px;
    }
    .checkOutPrice .checkOutPriceHeader h3 span {
        font-size: 23px;
    }
    .checkOutPrice .checkOutPriceHeader {
        padding: 0 30px 26px 0;
    }
    .checkOutShipping {
        width: 46%;
        margin: 91px 2% 20px;
    }
    .checkOutDiscount {
        margin: 91px 2% 20px;
        width: 45%;
    }
    .checkOutShipping button {
        padding: 15px 30px;
        margin: 15px 0 0 0;
    }
    .faqPayment {
        float: none;
        position: relative;
        right: 0;
        top: 0;
        display: block;
        text-align: center;
        margin-bottom: 18px;
    }
    .checkOut .faqInfo {
        height: auto;
        padding: 20px;
        line-height: 17px;
    }
    .content.checkOut {
        padding: 62px 0 40px 0;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||BLOGPOST|||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .blogAside {
        width: 28%;
    }
    .blogContent {
        width: 69%;
    }
    .radioBtn {
        font-size: 13px;
    }
    .blogAside .blogAsideBox .blogAsideBoxContent {
        padding: 10px;
    }
    .blogAside .tagBox {
        padding: 40px 0 0;
    }
    .blogAside .tagBox ul li a {
        padding: 6px 10px;
    }
    .blogAside .tagBox ul li {
        margin: 0 3px 8px 0;
    }
    .blogContent .blogContentBody .blogContentBodyL, .blogContent .blogContentBody .blogContentBodyR {
        width: 100%;
    }
    .blogContent .blogContentBody .blogContentBodyL {
        margin-right: 0;
    }
    .blogContent .blogComment .blogCommentInfo h2 {
        padding: 16px 0 15px;
        font-size: 15px;
    }
    .blogContent .blogComment .subComment {
        margin: 0 0 30px 25px;
    }
    .blogContent {
        padding: 10px;
    }
    .blogContent .blogContentBody .grayBox {
        width: 100%;
        left: 0;
    }
    .blogContent .blogContentBody h1 {
        margin: 41px 0 25px;
        font-size: 25px;
    }
    .blogContent .blogComment .blogCommentInfo a {
        font-size: 18px;
        padding: 10px 19px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||productDescription|||||||||||||||||||||||||||||||||||||||||*/
    .productDescBox .productDescLeft,
    .productDescBox .productDescRight{
        width: 100%;
    }
    .productDescBox .productDescLeft .productDescSliderWrap{
        border-right: 0;
        width: 100%;
        margin-bottom: 210px;
    }
    .productDescBox .productDescLeft .lSGallery li a {
        border: 0;
    }
    .lSSlideOuter .lSPager.lSGallery img {
        border: 1px solid rgba(40, 38, 34, 0.2);
    }
    .productDescBox .productDescLeft .productDescSliderWrap .productDescSlider iframe {
        height: 545px;
    }
}
















@media (max-width: 700px){
    .wrap{
        width: 300px;
        min-width: 300px;
    }
/*====================================================================================================================*/
    .logo {
        margin: 20px auto;
        width: 150px;
        display: block;
        float: none;
    }
    .cartBox {
        margin: 0;
        padding: 0;
        float: none;
        width: 100%;
        border: none;
    }
    .cartBox a {
        margin: 15px auto 0;
    }
    .cartBox h3 {
        display: block;
    }
    .userBox {
        float: none;
        width: 100%;
        margin: 20px 0;
        text-align: center;
    }
    .navBox .nav {
        display: block;
        text-align: left;
    }
    .navBox {
        height: auto;
    }
    .navBox .nav li:first-child {
        margin: 0 0 0 0;
        padding: 26px 9px 20px 0;
    }
    .navBox .nav li a {
        font-size: 14px;
    }
    .navBox .nav > li {
        padding: 26px 28px 25px 10px;
        margin: 0 0 0 5px;
    }
    .navBox .searchBox {
        float: none;
    }
    .navBox .searchBox form {
        width: 236px;
        margin: 0 15px 20px 0;
    }
    .navBox .searchBox .searchBtn {
        margin: 0;
    }
    .crumbs li a {
        font-size: 14px;
    }
    .navBox .nav li:first-child a img {
        width: 27%;
    }
    .navBox .nav li a img {
        width: 20%;
    }
    .navBox .nav li:nth-child(3) a img {
        width: 24%;
        left: -1px;
    }
/*====================================================================================================================*/
    .content {
        padding: 40px 0;
    }
    .content .contentInside .contentItem .greyBox {
        width: 100%;
    }
    .content .contentInside .contentBottomItem li {
        width: 100%;
    }
/*====================================================================================================================*/
    .footer {
        padding: 40px 0 0 0;
    }
    .footer .footerContent .outside h3 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    .footer .footerContent .outside p,
    .footer .footerContent .footerContentRight .outside p{
        right: 3px;
        top: 1px;
    }
    .footer .footerContent .footerContentLeft .sliderLeftItem,
    .footer .footerContent .footerContentRight .sliderRight li{
        margin: 0 15px !important
    }
    .footer .footerBottom .footerLogo {
        width: 100%;
        text-align: center;
    }
    .footer .footerBottom .footerNav {
        float: none;
        width: 100%;
        margin: 30px 0;
    }
    .footer .footerBottom .footerNewsletter {
        margin: 0;
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer .footerPayment {
        position: static;
        margin: 40px 0 0;
        width: 100%;
        float: none;
    }
    .footerPayment ul{
        padding-left: 15px;
    }
    .footer .footerPayment ul li {
        margin: 0 25px 18px;
    }
    .footer .footerBottom .footerNewsletter .social {
        margin: 29px 0 0 83px;
        overflow: hidden;
    }
    .footer .footerCopy h2 {
        color: #FFF;
        font-size: 12px;
        text-align: center;
        font-weight: normal;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||BLOG|||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .blog #blogItems .blogItem {
        width: 100%;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||FAQ||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .faq .faqPayment {
        margin: 60px 0 20px 0;
    }
    .faq .faqPayment ul {
        float: none;
    }
    .faq .faqPayment ul li {
        margin: 0 26px 13px;
    }
    .faq .faqPayment ul li:nth-child(4),
    .faq .faqPayment ul li:nth-child(5){
        margin: 0 0 13px;
        width: 49%;
        display: inline-block;
        vertical-align: middle;
        -ms-text-align-last: center;
        text-align: center;
    }
    .faq .titleAcc {
        font-size: 15px;
        padding: 0 0 0 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .faq .titleAcc span:before {
        left: 6px;
    }
    .titleAcc.active span:before {
        font-size: 27px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||INDEX||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .content.index {
        padding: 0;
    }
    .index .indexSliderItem .indexSliderItemContent {
        padding: 10px;
        text-align: center;
    }
    .indexSlider {
        display: none;
    }
    .sliderBox{
        background: #d8f5fe;
        height: auto;
        padding-bottom: 50px;
    }
    .sliderBox .bx-pager {
        display: none;
    }
    .index .indexSliderItem h3 {
        width: auto;
    }
    .index .indexSliderItem a {
        margin: 25px auto 0;
    }
    .sliderBox .outside p {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80px;
    }
    .index .indexSliderItem {
        height: auto;
        position: relative;
    }
    .productsBox .outside p {
        top: 115px;
    }
    .productsBlocks ul li {
        width: 100%;
        margin: 0 0 20px;
    }
    .productsBlocks ul li:nth-child(2) {
        margin: 0 0 20px;
    }
    .indexFooterContent .sliderLeftItem {
        width: 100%;
    }
    .productsSliderItem {
        width: 300px !important;
    }
    .cartBox .hiddenBox {
        left: 0;
        top: 83px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||PRODUCT||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .productBoxItem {
        width: 100%;
        margin-bottom: 20px;
    }
    .hiddenMenu {
        left: -75px;
        top: 70px;
        width: 300px;
    }
    .hiddenMenu .hiddenMenuItem {
        width: 100%;
        margin: 0 0 35px;
    }
    .content .contentTitle {
        font-size: 27px;
    }
    .content.product .productBox .productTitle {
        font-size: 23px;
    }
    .hiddenMenu .hiddenMenuItem li:first-child {
        padding: 0 13px 10px 0;
    }
    .hiddenMenu .hiddenMenuItem li .imgBox {
        margin-bottom: 5px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||logInPopup|||||||||||||||||||||||||||||||||||||||||||||||||*/
    .logInPopup .logInPopupWrap {
        padding: 0 10px;
    }
    .logInPopup {
        width: 300px;
    }
    .logInPopup .loginSocial {
        padding: 31px 8px 12px;
    }
    .logInPopup .loginSocial {
        margin-top: 30px;
        padding: 20px 8px 0;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||LOGIN||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .logIn .logInLeft form button {
        margin: 0 auto 10px;
        display: block;
    }
    .logIn .logInLeft form a {
        margin-left: 50px;
    }
    .logIn .logInBottom {
        padding: 10px;
    }
    .logIn .logInBottom h2 {
        margin: 10px 0;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||CONTACT US|||||||||||||||||||||||||||||||||||||||||||||||||*/
    .contactUs .contentInside {
        padding: 10px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||SERVICE||||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .service.content .serviceBox .serviceRight .serviceForm input {
        width: 76%;
    }
    .serviceMenu {
        left: -193px;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||CHECKOUT|||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .checkOutTable table tr td:last-child {
        margin: 29px 21px 0 0;
        position: relative;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(2) h2 {
        width: 173px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(3) {
        padding: 0 0 0 43px;
    }
    .checkOutTable table tr:not(:first-child) td:nth-child(5) {
        padding: 0 30px 0 20px;
    }
    .checkOutPrice {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    .checkOutPrice .checkOutPriceHeader {
        padding: 0 10px 20px;
    }
    .checkOutBtn {
        display: block;
        text-align: center;
        margin: 0;
    }
    .checkOutPrice button {
        display: block;
        margin: 20px auto;
    }
    .checkOutDiscount, .checkOutShipping {
        margin: 50px 2% 20px;
        width: 96%;
    }
    .checkOutShipping button{
        padding: 11px 21px;
    }
    .faqPayment {
        margin: 0;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||BLOGPOST|||||||||||||||||||||||||||||||||||||||||||||||||||*/
    .blogContent {
        width: 100%;
        float: none;
    }
    .blogAside {
        width: 100%;
        margin: 40px 0;
        float: none;
    }
    .blogContent .blogContentBody h1 {
        font-size: 20px;
    }
    .blogContent .blogComment .blogCommentInfo a {
        float: none;
    }
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||productDescription|||||||||||||||||||||||||||||||||||||||||*/
    .productDescBox .productDescLeft .lSGallery li a img {
        width: 50%;
    }
    .productDescBox .productDescLeft .productDescSliderWrap {
        border: 0;
        margin-bottom: 0;
    }
    .productDescBox .productDescLeft .productDescSliderWrap {
        height: 320px;
    }
    .productDescBox .productDescRight {
        padding: 10px;
    }
    .numberBox {
        margin: 0 auto;
    }
    .productDescBox .productDescRight .numberForm h2 {
        text-align: center;
    }
    .productDescBox .someTools{
        display: block;
        margin: 0 auto;
        width: 140px;
    }
    .productDescBox .productDescRight .someTools .someToolsItem h2 {
        text-align: center;
    }
    .productDescBox .productDescRight .someTools .someToolsItem h3 {
        text-align: center;
        margin-bottom: 25px;
    }
    .productDescBox .productDescRight .someTools h2 {
        text-align: center;
    }
    .productDescBox .productDescRight .addToCart {
        margin: 25px auto 16px;
        display: block;
    }
    .productDescBox .socialBox{
        text-align: center;
        margin: 30px 0 0 10px;
    }
    .productDescBox {
        padding-bottom: 0;
    }
    .productDescBox .productDescRight .productDescTitle {
        font-size: 24px;
    }
    .productDescBox .productDescRight .productDescTitle i,
    .productDescBox .productDescRight .productDescTitle span{
        font-size: 16px;
    }
    .productDesc .productsBox .outside p {
        top: 0;
    }
    .productDescSliderPager {
        right: 0;
        top: 180px;
    }
    .productDescBox .productDescLeft .productDescSliderWrap .productDescSlider iframe {
        height: 250px;
    }
}