@import "fonts.css"

$color1: #5b5c5a

*
  margin: 0
  padding: 0

ul
  list-style-type: none

@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin background-size($width)
  -o-background-size: $width
  -webkit-background-size: $width
  -khtml-background-size: $width
  -moz-background-size: $width
  background-size: $width

@mixin size($width, $height: $width)
  width: $width
  height: $height

@mixin linx($link, $hover, $active)
  a
    color: $link
    &:hover
      color: $hover
    &:active
      color: $active

@mixin pad($pads)
  padding: $pads

@mixin mar($margs)
  margin: $margs

@mixin prefix($property, $value)
  -webkit-#{$property}: #{$value}
  -khtml-#{$property}: #{$value}
  -moz-#{$property}: #{$value}
  -ms-#{$property}: #{$value}
  -o-#{$property}: #{$value}
  #{$property}: #{$value}

html, body
  height: 100%
  font-family: 'Roboto', sans-serif
  min-width: 300px

body.active:after
  content: ''
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  background: rgba(0,0,0,.6)
  z-index: 1000

.wrap
  width: 1170px
  margin: 0 auto
  position: relative


//==========================================================XXXXXX======================================================
.triangleBot
  width: 0
  height: 0
  border-style: solid
  border-width: 6px 4px 0 4px
  border-color: white transparent transparent transparent

.noMarg
  margin: 0 !important

.clear
  clear: both

.center
  text-align: center

.active-popup
  display: block !important

.popup-wrap
  z-index: 100001
  display: none
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

.logInPopup
  position: absolute
  left: 0
  right: 0
  top: 100px
  width: 430px
  margin: 0 auto
  @include prefix(box-sizing, border-box)
  border-top: 7px solid #eb7a2d
  background: white
  @include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.12))
  padding: 20px 0
  .logInPopupWrap
    padding: 0 60px
  img
    width: 94%
    margin: 24px 0 41px 8px
  .linkBox
    font-size: 32px
    color: #5b5c5a
    text-align: center
    margin-bottom: 17px
  .logInBtn,
  .sigbUpBtn
    font-family: 'avalonregular'
    font-size: 32px
    color: #5b5c5a
    text-decoration: none
  .sigbUpBtn
    color: #eb7a2d
  form
    input
      width: 100%
      height: 47px
      line-height: 47px
      background-color: #e9e9e9
      color: #5b5c5a
      font-size: 16px
      margin: 0 0 17px
      border: none
      @include prefix(box-sizing, border-box)
      padding: 0 17px
    button
      width: 93px
      height: 47px
      background-color: #eb7a2d
      border: none
      color: white
      font-size: 18px
      font-weight: 700
    a
      text-decoration: none
      color: #eb7a2d
      font-size: 14px
      margin-left: 27px
      font-style: italic

.loginSocial
  margin-top: 50px
  border-top: 2px solid #f6f6f6
  text-align: center
  padding: 31px 22px 12px
  ul
    overflow: hidden
    li
      float: left
      margin: 0 10px
      overflow: hidden
      a
        width: 46px
        height: 46px
        display: block
    li:nth-child(1) a
      background: url(../img/loginSocial.png) 0 0 no-repeat
    li:nth-child(2) a
      background: url(../img/loginSocial.png) -66px 0 no-repeat
    li:nth-child(3) a
      background: url(../img/loginSocial.png) -132px 0 no-repeat
    li:nth-child(4) a
      background: url(../img/loginSocial.png) -201px 0 no-repeat




.close-popup
  @extend .hideItem
  position: absolute
  right: 22px
  top: -1px

.ui-tooltip
  color: #5b5c5a
  font-size: 14px
  line-height: 16px

//==========================================================HEADER======================================================

.logo
  margin: 19px 0 0 0
  display: inline-block


.cartBox
  position: relative
  margin: 0 2px 0 0
  padding: 20px 17px 11px 22px
  float: right
  width: 202px
  border: 1px solid #c4c6cb
  border-top: none
  border-bottom: none
  @include prefix(box-sizing, border-box)
  img
    float: right
    position: relative
    left: -8px
    top: -5px
  h2
    display: inline-block
    color: $color1
    font-size: 18px
    font-weight: 700
    padding-left: 3px
  h3
    display: inline-block
    font-size: 12px
    color: $color1
    padding-left: 5px
  button
    border: none
    width: 100%
    height: 35px
    line-height: 35px
    text-align: center
    display: block
    margin: 12px auto 0
    background-color: #eb7a2d
    text-decoration: none
    color: white
    font-size: 16px
    text-transform: uppercase
    font-weight: 700


.userBox
  float: right
  width: 247px
  margin: 49px 0 0 0
  .user, .settings
    text-decoration: none
    display: inline-block
    h2
      display: inline-block
      color: $color1
      font-size: 16px
      position: relative
      top: -6px
      left: 3px
  .user
    margin: 0 40px 0 0
  .settings
    img
      position: relative
      top: 2px
    h2
      left: 4px


.navBox
  background: #0098c8
  height: 82px
  .nav
    display: inline-block
    >li
      padding: 26px 33px 25px 16px
      float: left
      cursor: pointer
      margin: 0 0 0 11px
      position: relative
      &:first-child
        padding: 26px 0 20px 0
        margin: 0 11px 0 0
      &:last-child
        margin: 0 0 0 1px
      &:nth-child(2):hover
        background-color: #eb7a2d
      &:nth-child(3):hover
        background-color: #014068
      >a
        position: relative
        color: white
        font-family: 'avalonregular'
        font-size: 26px
        text-decoration: none
        span
          position: absolute
          right: -19px
          top: 9px
        img
          margin: 0 9px 0 0
    li:hover .hiddenMenu
      display: block
  .searchBox
    float: right
    form
      position: relative
      width: 400px
      height: 45px
      display: inline-block
      vertical-align: top
      margin: 20px 23px 0 0
      input
        background: white
        border: none
        width: 100%
        height: 100%
        padding: 0 45px 0 15px
        @include prefix(box-sizing, border-box)
      .submit
        width: 45px
        height: 45px
        background-color: #eb7a2d
        border: none
        position: absolute
        right: 0
        top: 0
    .searchBtn
      width: 45px
      height: 45px
      background-color: #eb7a2d
      display: inline-block
      margin: 20px 0 0 0
      position: relative
      span
        width: 65%
        height: 4px
        position: absolute
        left: 0
        right: 0
        background: white
        margin: 0 auto
      span:nth-child(1)
        top: 9px
      span:nth-child(2)
        top: 20px
      span:nth-child(3)
        top: 31px


.hiddenBox
  display: none

.cartBox .hiddenBox
  position: absolute
  z-index: 1000
  background: white
  width: 300px
  left: -99px
  top: 119px
  @include prefix(box-sizing, border-box)
  padding: 18px 20px 0 16px
  border: 1px solid #C4C6CB
  border-top: none
  .checkOutBtn
    display: inline-block
    text-decoration: none
    padding: 10px 22px
    background-color: #eb7a2d
    color: white
    font-size: 14px
    font-weight: 700
    margin: 12px 0 23px
  ul
    li
      margin-bottom: 16px
      .imgBox
        width: 68px
        height: 55px
        background-color: white
        float: left
        margin-right: 14px
        border: 1px solid rgba(40, 38, 34, 0.2)
      h2
        color: #555
        font-size: 14px
        font-weight: 700
        padding: 0
        span
          display: block
          font-weight: 400
      h3
        margin-top: 7px
        color: #eb7a2d
        font-size: 16px
        display: block
        font-family: "BenderBoldItalic"

.hideItem
  margin-top: 17px
  font-weight: 700
  float: right
  width: 23px
  height: 23px
  line-height: 23px
  text-align: center
  background-color: #e9e9e9
  @include border-radius(50%)
  color: #999
  font-size: 10px
  cursor: pointer
  text-decoration: none

.hiddenMenu
  display: none
  position: absolute
  left: 0
  top: 82px
  background: white
  padding: 20px 18px 158px 20px
  width: 835px
  z-index: 10000
  border-top: 7px solid #eb7a2d
  @include prefix(box-sizing, border-box)
  @include prefix(box-shadow, 0 2px 4px rgba(0, 0, 0, 0.32))
  .hiddenMenuItem
    width: 170px
    margin: 0 13px
    display: inline-block
    vertical-align: top
    li
      padding: 0 25px 5px 0
      position: relative
      display: inline-block
      &:first-child
        width: 100%
      &:hover .hiddenSubMenu
        display: block
      &:hover
        button
          color: #eb7a2d
      .imgBox
        display: block
        width: 100%
        padding: 7px 0
        margin-bottom: 15px
        background-color: #eb7a2d
        text-align: center
        min-height: 47px
      h2
        color: #5b5c5a
        font-family: 'avalonregular'
        font-size: 18px
        font-weight: normal
        margin-bottom: 11px
      button
        font-size: 14px
        color: #555
        border: none
        background: none
        padding: 0 16px 0 13px
        position: relative
        &:before
          font-family: 'avalonregular'
          content: '>'
          position: absolute
          left: 0
          top: 2px
          color: #5b5c5a
          font-size: 14px
        &:after
          content: ''
          position: absolute
          right: 0
          top: 5px
          width: 0
          height: 0
          border-style: solid
          border-width: 4px 0 4px 6px
          border-color: transparent transparent transparent #5b5c5a


.hiddenMenu  .hiddenSubMenu
  display: none
  position: absolute
  right: -217px
  top: -1px
  border-top: 7px solid #EB7A2D
  width: 172px
  background-color: white
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32)
  z-index: 10001
  padding: 10px 30px
  li
    display: block
    a
      font-size: 14px
      color: #555
      text-decoration: none
      &:hover
        color: #eb7a2d



.serviceMenu
  width: 633px
  border-top: 7px solid #014068
  .hiddenMenuItem
    margin: 0 13px 0 12px
  .hiddenMenuItem li .imgBox
    background-color: #014068
  .hiddenSubMenu
    border-top: 7px solid #014068


//=========================================================CONTENT======================================================

.content
  padding: 62px 0 141px 0
  .contentTitle
    color: $color1
    font-family: 'avalonregular'
    font-size: 32px
    font-weight: normal
  .contentInside
    margin: 31px 0 0 0
    border: 1px solid rgba(40, 38, 34, 0.2)
    padding: 30px 0 24px 0
    width: 100%
    height: auto
    @include prefix(box-sizing, border-box)
    .hr
      width: 100%
      border: 1px solid #f1f1f1
      @include prefix(box-sizing, border-box)
    .contentItem
      width: 31.5%
      padding: 0 0 20px 26px
      display: inline-block
      @include prefix(box-sizing, border-box)
      vertical-align: top
      h2
        font-weight: normal
        font-family: 'avalonregular'
      p
        line-height: 24px
        padding: 22px 12px 0 0
      h3
        padding: 39px 0 0 67px
        color: #EB7A2D
        font-family: "avalonregular"
        font-size: 24px
        font-weight: normal
        line-height: 37px
      .greyBox
        width: 370px
        height: 317px
        background: #8e8e8e
        margin: 75px 0 0 30px
    .contentBottomItem
      li
        width: 32.5%
        padding: 50px 0 0 28px
        vertical-align: top
        display: inline-block
        @include prefix(box-sizing, border-box)
        .contentBottomItemImg
          float: left
          width: 60px
          height: 60px
          line-height: 60px
          text-align: center
          background: #eb7a2d
        .contentBottomItemContent
          @include prefix(box-sizing, border-box)
          width: 78%
          float: right
          padding: 0 50px 0 0
          h2
            color: #5b5c5a
            font-family: "avalonregular"
            font-size: 24px
            margin: 0 0 25px 0
            font-weight: normal
          p
            color: #999
            font-size: 14px
            line-height: 18px


//=========================================================FOOTER=======================================================

.footer
  padding: 62px 0 0 0
  background: #f2f2f2
  .footerContent
    padding: 0 0 108px 0
    overflow: hidden
    .footerContentLeft,
    .footerContentRight
      width: 49%
      display: inline-block
      vertical-align: top
    .footerContentRight
      float: right
    .outside
      position: relative
      h3
        text-align: center
        color: #5b5c5a
        font-family: "avalonregular"
        font-size: 32px
        margin: 0 0 51px 10px
        font-weight: normal
      p
        position: absolute
        right: 9px
        top: 10px
      #sliderLeft-prev a,
      #sliderLeft-next a,
      #sliderRight-prev a,
      #sliderRight-next a
        text-decoration: none
        width: 8px
        height: 8px
        border-left: 5px solid #999
        border-bottom: 5px solid #999
        display: inline-block
        @include prefix(transform, rotate(45deg))
        &:hover
          border-color: #eb7a2d
      #sliderLeft-next a,
      #sliderRight-next a
        @include prefix(transform, rotate(225deg))

    .footerContentRight
      .outside
        h3
          margin: 0 0 51px 6px
        p
          right: 5px
          top: 10px
      .sliderQuote
        background: white
        position: relative
        padding: 34px 40px 28px 57px
        color: #555
        font-size: 14px
        line-height: 24px
        @include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.12))
        .triangleBot
          position: absolute
          left: 50%
          bottom: -15px
          border-width: 15px 15px 0 16px
          margin-left: -15px
        &:before,
        &:after
          content: ""
          position: absolute
          left: 26px
          top: 13px
          background: url(../img/quote.png) 0 0 no-repeat
          width: 25px
          height: 21px
        &:after
          left: initial
          top: initial
          right: 25px
          bottom: 26px
          background: url(../img/quote.png) 0 0 no-repeat
          @include prefix(transform, rotate(180deg))
      .sliderRight li
        text-align: center
        img
          margin: 26px 0 3px 0
        h2
          color: #5b5c5a
          font-size: 20px
          font-family: "avalonregular"

  .footerBottom
    background: #222429
    padding: 19px 0 53px 0
    .footerLogo
      display: inline-block
      vertical-align: top
      width: 265px
      p
        color: white
        font-size: 14px
        margin: 14px 0 0 0
        line-height: 23px
    .footerNav
      display: inline-block
      vertical-align: top
      width: 275px
      margin: 14px 0 0 64px
      .footerNavItemL,
      .footerNavItemR
        float: left
        h2
          margin-bottom: 27px
          font-family: "avalonregular"
          font-size: 18px
          color: white
          font-weight: normal
        ul li a
          display: block
          margin-bottom: 5px
          text-decoration: none
          color: white
          &:hover
            text-decoration: underline
      .footerNavItemR
        float: right
    .footerNewsletter
      display: inline-block
      vertical-align: top
      width: 200px
      margin: 14px 0 0 91px
      h2
        color: #fcffff
        font-size: 18px
        font-family: "avalonregular"
        margin: 0 0 23px 0
        font-weight: normal
      h3
        color: white
        font-size: 14px
        font-weight: normal
        margin-bottom: 19px
      form
        position: relative
        input
          width: 100%
          height: 34px
          background: #050506
          color: #999
          font-size: 14px
          font-style: italic
          border: none
          padding: 0 35px 0 11px
          @include prefix(box-sizing, border-box)
        .submit
          position: absolute
          right: 0
          top: 0
          width: 34px
          height: 34px
          background: #eb7a2d
          border: none
          &:after
            content: ""
            position: absolute
            left: 0
            right: 0
            top: 30%
            margin: 0 auto
            @extend .triangleBot
            border-width: 7px 0 7px 9px
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF
      .social
        margin: 29px 0 0 0
        li
          float: left
          margin: 0 8px 0 0
          a
            width: 26px
            height: 26px
            display: block
        li:nth-child(1) a
          background: url(../img/social-icons.png) 0 0 no-repeat
        li:nth-child(2) a
          background: url(../img/social-icons.png) -34px 0 no-repeat
        li:nth-child(3) a
          background: url(../img/social-icons.png) -68px 0 no-repeat
        li:nth-child(4) a
          background: url(../img/social-icons.png) -102px 0 no-repeat
  .footerPayment
    display: inline-block
    vertical-align: top
    float: right
    width: 187px
    margin: 15px 0 0 0
    h2
      text-align: center
      color: #fcffff
      font-weight: normal
      font-family: "avalonregular"
      font-size: 18px
      margin-bottom: 30px
    ul li
      float: left
      margin: 0 9px 18px


  .footerCopy
    height: 59px
    line-height: 59px
    text-align: center
    background: #000009
    h2
      color: white
      font-size: 14px
      font-weight: normal



.sliderLeftItem
  background: white
  .sliderLeftItemContent
    padding: 20px 20px 27px
    h2
      color: #5b5c5a
      font-size: 18px
      font-weight: normal
    h3
      font-size: 12px
      font-style: italic
      color: #eb7a2d
      margin: 5px 0 25px 0
      span
        color: #555
    p
      font-size: 14px
      color: #555
      line-height: 23px
      a
        color: #eb7a2d
        font-style: italic
        display: block
    h4
      margin-top: 9px
      color: #eb7a2d




//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||BLOG||||||||||||||||||||||||||||||||||||||||||||||||||||||||


.footer.blog
  padding: 0

.blog
  .contentTitle
    margin-bottom: 43px
  .viewMore
    display: block
    width: 100%
    height: 55px
    line-height: 55px
    text-align: center
    background: #eb7a2d
    @include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.12))
    color: white
    font-size: 16px
    font-weight: 900
    border: none
    margin: 25px 0 0
    img
      position: relative
      right: -5px
      top: 3px
  #blogItems
    position: relative
    .blogItem
      //width: 266px
      width: 23%
      border: 1px solid rgba(40, 38, 34, 0.2)
      @include prefix(box-sizing, border-box)
      h2
        color: #5b5c5a
        font-family: "avalonregular"
        font-size: 24px
        font-weight: normal
        padding: 23px 21px 16px 21px
        line-height: 28px
      p
        font-size: 14px
        color: #555
        padding: 14px 24px 25px 24px
        line-height: 23px
        a
          color: #eb7a2d
          font-style: italic
          &:hover
            text-decoration: none
      .greyBox,
      .greyBox2,
      .greyBox3
        width: 100%
        height: 160px
        margin: 10px 0
        background: #999
      .greyBox2
        height: 116px
      .greyBox3
        height: 153px
      .blogItemBottomNav
        padding: 0 23px 13px 19px
        h2
          color: #b9b9b9
          font-size: 12px
          font-style: italic
          display: inline-block
          font-weight: normal
          padding: 0
          letter-spacing: -0.6px
        button
          margin: 3px 0 0 18px
          float: right
          border: none
          background: none


//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||FAQ|||||||||||||||||||||||||||||||||||||||||||||||||||||||||


.faq
  .contentTitle
    margin-bottom: 37px
  .faqPayment
    margin: 190px 39px 34px 0
    overflow: hidden
    ul
      float: right
      li
        margin-left: 9px
        display: inline-block
        vertical-align: middle
  .accordion
    border: 1px solid rgba(40, 38, 34, 0.2)
    border-top: none
  .titleAcc
    border-top: 1px solid rgba(40, 38, 34, 0.2)
    height: 78px
    line-height: 78px
    font-family: "avalonregular"
    color: #5b5c5a
    font-size: 24px
    padding: 0 0 0 56px
    cursor: pointer
    position: relative
    span:before
      content: '+'
      color: #eb782a
      position: absolute
      left: 29px
  .accInside
    width: 455px
    display: inline-block
    vertical-align: top
    margin: 32px 0 35px 69px
    line-height: 24px
    @include prefix(box-sizing, border-box)
    ul
      padding-left: 19px
      list-style-type: disc
  .hideAcc
    color: #555

.faqInfo
  height: 80px
  line-height: 80px
  background-color: #e9e9e9
  color: #999
  font-size: 14px
  text-align: center
  margin: 15px 0 0


.titleAcc.active
  background-color: #e9e9e9
  span:before
    content: '-'
    font-size: 36px
    top: -2px


//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||INDEX|||||||||||||||||||||||||||||||||||||||||||||||||||||||

.index
  padding: 0
  background: #f2f2f2
  .sliderBox
    position: relative
  .indexSliderItem
    position: absolute
    left: 0
    top: 0
    height: 565px
    .indexSliderItemContent
      position: relative
      z-index: 1
      padding: 90px 0 0 40px
      @include prefix(box-sizing, border-box)
    h2
      color: #0098c8
      font-family: "avalonregular"
      font-size: 50px
      font-weight: normal
      padding: 0 0 25px 0
      span
        font-size: 72px
    h3
      color: #5b5c5a
      font-size: 18px
      font-weight: normal
      line-height: 27px
      margin-bottom: 53px
    a
      display: block
      width: 161px
      height: 56px
      line-height: 56px
      text-align: center
      background-color: #eb7a2d
      color: white
      font-size: 18px
      font-weight: 900
      text-transform: uppercase
      text-decoration: none
      margin-bottom: 25px
    .sliderBg
      position: absolute
      left: 0
      top: 0
      width: 100%



.sliderBox
  .outside
    p
      position: absolute
      z-index: 2
      left: 40px
      bottom: 65px
    #indexSliderItem-prev .bx-prev,
    #indexSliderItem-next .bx-next
      width: 50px
      height: 50px
      line-height: 50px
      text-decoration: none
      background: white
      display: inline-block
      text-align: center
      &:after
        content: ''
        @include prefix(transform, rotate(45deg))
        width: 8px
        height: 8px
        border-left: 5px solid #999
        border-bottom: 5px solid #999
        display: inline-block
        &:hover
          border-color: #eb7a2d
    #indexSliderItem-next .bx-next
      margin-left: 15px
      &:after
        content: ''
        @include prefix(transform, rotate(225deg))

  .bx-pager
    position: absolute
    left: 47%
    bottom: 20px
    z-index: 10
    .bx-pager-item
      float: left
      a
        text-indent: -50px
        width: 10px
        height: 10px
        @include border-radius(50%)
        background: #5b5c5a
        display: block
        overflow: hidden
        margin: 0 5px
      a.active
        background: #0098c8




.indexFooterContent
  h3
    color: #5b5c5a
    font-family: "avalonregular"
    font-size: 32px
    font-weight: normal
    text-align: center
    margin-bottom: 50px
  .sliderLeftItem
    width: 270px
    display: inline-block
    margin: 0 25px 0 0
    &:last-child
      margin: 0

.productsBox
  position: relative
  text-align: center
  margin: 78px 0 0
  >h2
    display: inline-block
    font-family: "avalonregular"
    font-size: 32px
    color: #5b5c5a
    font-weight: normal
    margin: 0 33px 29px
  >h2.active
    color: #0098c8
    border-bottom: 4px solid #0098c8
    padding: 0 0 3px 0
  .outside
    p
      position: absolute
      right: 9px
      top: 10px
      #productsBox-prev a,
      #productsBox-next a
        text-decoration: none
        width: 8px
        height: 8px
        border-left: 5px solid #999
        border-bottom: 5px solid #999
        display: inline-block
        @include prefix(transform, rotate(45deg))
        &:hover
          border-color: #eb7a2d
      #productsBox-next a
        @include prefix(transform, rotate(225deg))


.productsSliderItem
  background: white
  display: inline-block
  overflow: hidden
  position: relative
  @include prefix(box-shadow, 0 1px 3px rgba(0, 0, 0, 0.12))
  .hiddenProductsItem
    display: none
  &:hover
    .hiddenProductsItem
      display: block
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background: rgba(235, 122, 45, 0.9)
      padding: 85px 0 0
      @include prefix(box-sizing, border-box)
      .hiddenCartBtn,
      .hiddenViewBtn
        display: block
        width: 170px
        height: 47px
        line-height: 47px
        background-color: white
        border: none
        margin: 24px auto
        position: relative
        text-transform: uppercase
        text-align: left
        color: #5b5c5a
        font-size: 14px
        text-decoration: none
        img
          margin: 10px 15px 0 11px
          width: 18%
          border: none
          float: left
      .hiddenViewBtn img
        margin: 15px 15px 0 11px
  img
    border-bottom: 2px solid #f6f6f6
  h2
    color: #555
    font-size: 14px
    font-weight: 700
    display: inline-block
    text-align: left
    padding: 14px 0 27px 27px
    float: left
    span
      display: block
      font-weight: 400
  h3
    float: right
    color: #eb7a2d
    font-family: "BenderBoldItalic"
    font-size: 18px
    padding: 14px 30px 0 0
    font-weight: normal
    span
      color: #999
      font-family: "BenderBoldItalic"
      font-size: 14px
      text-decoration: line-through
      display: block
      text-align: right
  .newBox
    position: absolute
    left: 0
    top: 0
    width: 0
    height: 0
    border-style: solid
    border-width: 46px 46px 0 0
    border-color: #eb7a2d transparent transparent transparent
    &:after
      content: "NEW"
      position: absolute
      top: -37px
      left: 5px
      font-size: 9px
      color: white
      font-family: "BenderBoldItalic"

.productsBlocks
  margin: 85px 0 0
  background: white
  padding: 42px 0 50px
  ul
    overflow: hidden
    li
      border: 1px solid rgba(131, 140, 142, 0.31)
      float: left
      width: 31.5%
      padding: 0 40px 30px
      text-align: center
      @include prefix(box-sizing, border-box)
      &:nth-child(2)
        margin: 0 2.6%
        .imgBox
          padding-top: 41px
          height: 113px
      h2
        color: #0098c8
        font-family: "avalonregular"
        font-size: 22px
        line-height: 16px
        text-transform: uppercase
        font-weight: normal
        margin-bottom: 20px
      p
        color: #3b3b3b
        font-size: 14px
        line-height: 19px
      .imgBox
        height: 128px
        padding-top: 26px


//=========================================================PRODUCT======================================================

.crumbs
  overflow: hidden
  li
    display: inline-block
    vertical-align: middle
    margin: 5px 14px 0 0
    position: relative
    &:after
      content: '/'
      position: absolute
      right: -13px
      font-family: "avalonregular"
    &:first-child
      margin: 1px 14px 0 0
      &:after
        top: 7px
    &:last-child:after
      content: ''
    a
      font-family: "avalonregular"
      font-size: 18px
      color: #5b5c5a
      text-decoration: none
    a.active
      color: #eb7a2d




.content.product
  padding: 26px 0 11px 0
  .contentTitle
    margin: 67px 0 59px
  .productBox
    margin: 0 0 45px 0
    .productTitle
      font-weight: normal
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 28px
      margin-bottom: 13px


.productBoxItem
  @extend .productsSliderItem
  width: 25%
  margin-bottom: 57px
  img
    border: none
  .productImg
    height: 242px
    text-align: center
    border-bottom: 2px solid #F6F6F6
  h2
    padding: 17px 0 27px 27px
  h3
    padding: 17px 30px 0 0
  .hiddenProductsItem2
    @extend .hiddenProductsItem
    padding: 110px 0 0 !important

//=========================================================PRODUCT======================================================

.logIn
  .logInContent
    padding: 0
  .logInLeft,
  .logInRight
    display: inline-block
    vertical-align: top
    width: 49.8%
    @include prefix(box-sizing, border-box)

  .logInLeft
    padding: 28px
    border-right: 2px solid #f6f6f6
    h2
      color: #5b5c5a
      font-size: 24px
      font-family: "avalonregular"
      margin-bottom: 27px
      font-weight: normal
    form
      label
        color: #999
        font-size: 14px
        display: block
        margin-bottom: 12px
      input
        width: 100%
        height: 47px
        line-height: 47px
        background-color: #e9e9e9
        color: #5b5c5a
        font-size: 16px
        margin: 0 0 18px
        border: none
        @include prefix(box-sizing, border-box)
        padding: 0 17px
      button
        border: 5px solid #eb7a2d
        background: white
        color: #5b5c5a
        font-size: 18px
        font-weight: 700
        padding: 7px 17px
        margin: 10px 0 0 0
      a
        text-decoration: none
        color: #eb7a2d
        font-size: 14px
        margin-left: 30px
        font-style: italic

  .logInRight
    padding: 29px
    h2
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 24px
      font-weight: normal
      margin-bottom: 33px
    p
      color: #555
      font-size: 14px
      line-height: 23px
    a
      margin: 145px 0 0 0
      width: 125px
      height: 47px
      line-height: 47px
      text-align: center
      background-color: #eb7a2d
      border: none
      color: white
      font-size: 18px
      font-weight: 700
      display: block
      text-decoration: none

  .logInBottom
    padding: 24px 0 24px 51px
    border-top: 2px solid #f6f6f6
    text-align: center
    margin-top: -2px
    h2
      display: inline-block
      vertical-align: middle
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 24px
      margin-right: 55px
    .loginSocial
      display: inline-block
      vertical-align: middle
      padding: 0
      border: none
      margin: 0
      ul li
        margin: 0 5px

//=========================================================CONTACT US===================================================

.contactUs
  .contentInside
    padding: 30px 21px 16px 29px
  .contactUsItem1,
  .contactUsItem2,
  .contactUsItem3
    display: inline-block
    vertical-align: top
    width: 32.7%
    @include prefix(box-sizing, border-box)

  .contactUsItem1
    padding: 0 78px 0 0
    h2
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 24px
      font-weight: normal
      margin-bottom: 24px
    form
      label
        color: #999
        font-size: 14px
        display: block
        margin-bottom: 7px
      input
        width: 100%
        height: 47px
        line-height: 47px
        background-color: #e9e9e9
        color: #5b5c5a
        font-size: 16px
        margin: 0 0 30px
        border: none
        @include prefix(box-sizing, border-box)
        padding: 0 17px
      textarea
        resize: none
        width: 100%
        @include prefix(box-sizing, border-box)
        padding: 10px
        min-height: 256px
        border: none
        background-color: #e9e9e9
      button
        border: none
        background: #eb7a2d
        color: white
        font-size: 14px
        padding: 10px 20px
        margin: 10px 0 0 0

  .contactUsItem2
    margin-top: 72px
    ul
      li
        min-height: 63px
        padding-left: 80px
        overflow: hidden
        margin-bottom: 37px
        &:nth-child(1)
          background: url(../img/contactImg.png) 0 0 no-repeat
        &:nth-child(2)
          background: url(../img/contactImg.png) 0 -97px no-repeat
        &:nth-child(3)
          background: url(../img/contactImg.png) 0 -203px no-repeat
        h2
          margin-bottom: 9px
          font-family: "avalonregular"
          color: #5b5c5a
          font-size: 20px
          font-weight: normal
        p, h3, a
          color: #999
          font-size: 14px
          text-decoration: none
          font-weight: normal
          display: block

  .contactUsItem3
    iframe
      width: 100%
      height: 652px


//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||SERVICE|||||||||||||||||||||||||||||||||||||||||||||||||||||

.service.content
  padding: 26px 0 70px 0
  .faqInfo
    height: 79px
    line-height: 79px
    margin: 41px 0 0
  .serviceCheckBox
    input[type=checkbox]
      display: none
    input[type=checkbox] + label:before
      content: ""
      display: inline-block
      width: 28px
      height: 28px
      vertical-align: middle
      background-color: white
      border: 1px solid rgba(40, 38, 34, 0.2)
      margin: 0 9px 0 6px
    input[type=checkbox]:checked + label:before
      content: "X"
      color: white
      background-color: #eb7a2d
      text-align: center
      line-height: 28px
      font-weight: bold
      font-size: 20px
      border: 1px solid transparent

  .serviceBox
    margin: 45px 0 0
    .serviceRight
      padding-left: 25px
    .serviceLeft,
    .serviceRight
      display: inline-block
      vertical-align: top
      width: 48.8%
      @include prefix(box-sizing, border-box)
      h2
        color: #5b5c5a
        font-family: "avalonregular"
        font-size: 32px
        font-weight: normal
        margin-bottom: 36px
      .serviceInfo
        cursor: help
        display: inline-block
        vertical-align: middle
        background-color: #e9e9e9
        color: #999
        font-size: 14px
        padding: 7px 17px
        margin-top: 2px
      .serviceCheckBox
        margin-bottom: 47px
        li
          padding: 0 0 11px
          margin-bottom: 6px
          border-bottom: 1px solid #e2e0db
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          &:last-child
            border: none
          label
            color: #5b5c5a
            font-size: 14px
      .serviceCalculator
        padding: 5px 208px 0 0
        margin-bottom: 165px
        .hideItem
          margin: 0
        h2
          color: #5b5c5a
          font-size: 14px
          margin-bottom: 20px
          font-weight: normal
      .costsBox
        border-top: 2px solid #f1f1f1
        h2
          color: #5b5c5a
          font-family: "avalonregular"
          font-size: 24px
          font-weight: normal
        h3
          float: right
          color: #eb7a2d
          font-family: "BenderBoldItalic"
          font-size: 30px
      .serviceForm
        padding-right: 177px
        .serviceInfo
          vertical-align: bottom
          margin-left: 10px
        label
          color: #999
          font-size: 14px
          display: block
          margin: 28px 0 13px
        input
          width: 80%
          height: 47px
          line-height: 47px
          background-color: #e9e9e9
          color: #5b5c5a
          font-size: 16px
          border: none
          @include prefix(box-sizing, border-box)
          padding: 0 17px
          display: inline-block
        textarea
          resize: none
          width: 100%
          @include prefix(box-sizing, border-box)
          padding: 10px
          min-height: 140px
          border: none
          background-color: #e9e9e9
        button
          border: none
          background: #eb7a2d
          color: white
          font-size: 14px
          padding: 10px 29px
          margin: 20px 0 0 0
          float: right
      .costsBox
        margin: 0 208px 0 0
        padding-top: 14px
        h2
          padding-top: 6px

//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||productDesc|||||||||||||||||||||||||||||||||||||||||||||||||


.content.productDesc
  padding: 27px 0 141px 0
  position: relative
  .contentTitle
    margin: 73px 0 31px
  .productsBox
    text-align: left
    margin: 35px 0 0
    >h2
      margin: 0 33px 19px
    .productsSliderItem
      box-shadow: none
      border: 1px solid #F6F6F6


.productDescBox
  overflow: hidden
  padding-bottom: 27px
  border: 1px solid rgba(40, 38, 34, 0.2)
  .productDescLeft
    display: inline-block
    vertical-align: top
    .productDescSliderWrap
      border-right: 1px solid rgba(40, 38, 34, 0.2)
      border-bottom: 1px solid rgba(40, 38, 34, 0.2)
      width: 568px
      height: 459px
      margin-bottom: 2px
      text-align: center
      display: inline-block
      vertical-align: top
      .productDescSlider
        img
          width: 100%
        iframe
          width: 100%
          height: 459px
    .lSGallery
      height: 113px
      li
        border-radius: 0 !important
        &:hover
          border-radius: 0
        a
          border: 1px solid rgba(40, 38, 34, 0.2)
          display: inline-block
          width: 137px
          height: 112px
          margin-right: 1px
          img
            width: 100%
      li:first-child a
        border-left: none


  .productDescRight
    display: inline-block
    vertical-align: top
    width: 590px
    @include prefix(box-sizing, border-box)
    padding: 26px 20px 0 26px
    .productDescTitle
      font-family: "BenderBoldItalic"
      font-size: 30px
      font-weight: normal
      color: #eb7a2d
      margin-bottom: 26px
      span
        font-size: 18px
        font-family: "BenderItalic"
        text-decoration: line-through
        color: #999
        margin-left: 26px
      i
        font-size: 18px
        font-family: "BenderItalic"
        color: #333
    p
      color: #222429
      font-size: 14px
      line-height: 22px
      margin-bottom: 29px
    .numberForm
      margin-bottom: 26px
      h2
        color: #999
        font-size: 14px
        font-weight: normal
        margin-bottom: 5px
    .someTools
      h2
        color: #999
        font-size: 14px
        font-weight: normal
        margin-bottom: 10px
      .someToolsItem
        display: inline-block
        vertical-align: top
        .grayBox
          width: 140px
          height: 114px
          background: #e9e9e9
          position: relative
          &:hover:after
            content: "+"
            position: absolute
            width: 100%
            height: 100%
            border: 3px solid #eb7a2d
            font-size: 72px
            color: #eb7a2d
            text-align: center
            line-height: 105px
            @include prefix(box-sizing, border-box)
        h2
          color: #555
          font-size: 14px
          font-weight: 700
          margin: 8px 0 0
        h3
          font-family: "BenderBoldItalic"
          color: #eb7a2d
          line-height: 16px
          font-size: 18px
    .addToCart
      display: inline-block
      background: #eb7a2d
      padding: 13px 25px
      color: white
      font-size: 18px
      font-weight: 700
      text-transform: uppercase
      border: none
      margin: 25px 0 16px
    .socialBox
      h2
        display: inline-block
        vertical-align: middle
        color: #999
        font-size: 14px
        font-weight: normal
        margin-right: 11px
      .productDescSocial
        display: inline-block
        vertical-align: middle
        overflow: hidden
        li
          float: left
          a
            margin-left: 4px
            display: block
            width: 28px
            height: 27px
          &:nth-child(1) a
            background: url(../img/productDescSocial.png) 0 0 no-repeat
          &:nth-child(2) a
            background: url(../img/productDescSocial.png) -31px 0 no-repeat
          &:nth-child(3) a
            background: url(../img/productDescSocial.png) -64px 0 no-repeat
          &:nth-child(4) a
            background: url(../img/productDescSocial.png) -96px 0 no-repeat
          &:nth-child(5) a
            background: url(../img/productDescSocial.png) -128px 0 no-repeat

.numberBox
  width: 145px
  height: 47px
  position: relative
  &:after
    content: ""
    position: absolute
    width: 38%
    height: 100%
    border-left: 2px solid #DADADA
    border-right: 2px solid #DADADA
    margin-left: 28%
    left: 0
  button
    background: #e9e9e9
    font-family: "BenderBold"
    width: 30%
    border: none
    height: 100%
    line-height: 47px
    text-align: center
    color: #999
    font-size: 18px
    margin-left: -.36em
    outline: none
  input
    border: none
    background: #e9e9e9
    font-family: "BenderBold"
    width: 40%
    height: 100%
    line-height: 47px
    text-align: center
    color: black
    font-size: 18px
    margin-left: -.36em


.productDescSliderPager
  position: absolute
  right: 26px
  top: 119px
  z-index: 2
  padding: 0 4px
  span a
    text-decoration: none
    width: 8px
    height: 8px
    border-left: 5px solid #999
    border-bottom: 5px solid #999
    display: inline-block
    @include prefix(transform, rotate(45deg))
    &:hover
      border-color: #eb7a2d
  span:nth-child(2) a
    @include prefix(transform, rotate(225deg))


//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||productDesc|||||||||||||||||||||||||||||||||||||||||||||||||
.content.checkOut
  padding: 62px 0 204px 0
  .checkOutContent
    margin: 37px 0 0 0
    padding: 0 0 20px
    overflow: hidden

.checkOutTable
  table
    width: 100%
    margin-bottom: 37px
    tr
      border-bottom: 2px solid #f6f6f6
      position: relative
      td:last-child
        margin: 58px 30px 0 0
        position: absolute
        right: 0
      &:nth-child(1)
        color: #999
        font-size: 14px
        height: 76px
        th:nth-child(2)
          text-align: right
        th:nth-child(3)
          text-align: right
        th:last-child
          padding-right: 95px
      td
        @include prefix(box-sizing, border-box)
      &:not(:first-child)
        td:first-child
          border: 1px solid #f6f6f6
          text-align: center
          img
            height: 133px
        td:nth-child(2)
          width: 393px
          padding-left: 30px
          h2
            color: #555
            font-size: 14px
            font-weight: 700
            span
              display: block
              font-weight: 400
          h3
            margin: 10px 6px 0 0
            font-size: 14px
            float: right
            color: #eb7a2d
            font-family: "BenderBold"
        td:nth-child(3)
          width: 137px
          color: #555
          font-family: "BenderItalic"
          font-size: 18px
          text-align: right
        td:nth-child(4)
          width: 287px
          .numberBox
            margin: 0 0 0 73px
        td:nth-child(5)
          padding-right: 34px
          text-align: right
          color: #eb7a2d
          font-size: 18px
          font-family: "BenderBoldItalic"

.checkOutBtn
  background: #5b5c5a
  padding: 13px 25px
  color: white
  font-size: 14px
  font-weight: 700
  margin: 0 0 0 27px
  text-decoration: none


.checkOutPrice
  float: right
  width: 370px
  .checkOutPriceHeader
    padding: 17px 30px 46px 0
    border-bottom: 2px solid #f1f1f1
    h2
      color: #5b5c5a
      font-family: "avalonregular"
      font-weight: normal
      font-size: 18px
      margin-bottom: 28px
      b
        font-weight: normal
        font-size: 14px
      span
        float: right
        font-size: 18px
        color: #eb7a2d
        font-family: "BenderBoldItalic"
        line-height: 14px
    h3
      font-size: 24px
      color: #5b5c5a
      font-family: "avalonregular"
      font-weight: normal
      span
        float: right
        font-size: 30px
        color: #eb7a2d
        font-family: "BenderBlackItalic"
        line-height: 13px
  button
    background: #eb7a2d
    color: white
    font-size: 18px
    font-weight: 700
    border: none
    padding: 13px 36px
    margin: 26px 0 0 0


.checkOutDiscount
  margin: -146px 0 0 27px
  display: inline-block
  vertical-align: top
  width: 290px
  h2
    font-family: "avalonregular"
    color: #5b5c5a
    font-size: 24px
    font-weight: normal
    margin-bottom: 20px
  label
    color: #999
    font-size: 14px
    display: block
    margin-bottom: 9px
  input
    width: 100%
    height: 47px
    line-height: 47px
    background-color: #e9e9e9
    color: #5b5c5a
    font-size: 16px
    border: none
    @include prefix(box-sizing, border-box)
    padding: 0 17px
    display: inline-block
  button
    background: #eb7a2d
    color: white
    font-size: 14px
    font-weight: 400
    border: none
    padding: 11px 21px
    margin: 22px 0 46px
  textarea
    resize: none
    width: 100%
    @include prefix(box-sizing, border-box)
    padding: 16px 18px
    min-height: 166px
    border: none
    background-color: #e9e9e9

.checkOutShipping
  display: inline-block
  vertical-align: top
  width: 290px
  margin: -146px 0 0 79px
  h2
    font-family: "avalonregular"
    color: #5b5c5a
    font-size: 24px
    font-weight: normal
    margin-bottom: 21px
  h3
    color: #555
    font-size: 14px
    font-weight: normal
    margin-bottom: 19px
  label
    color: #999
    font-size: 14px
    display: block
    margin-bottom: 9px
  input, .ui-selectmenu-button
    margin-bottom: 15px
    height: 47px
    line-height: 47px
    color: #5b5c5a
    font-size: 16px
    border: none
    @include prefix(box-sizing, border-box)
    padding: 0 17px
    display: inline-block
    border-radius: 0 !important
    width: 100% !important
    background: #e9e9e9 !important
  .ui-selectmenu-button span.ui-selectmenu-text
    padding: 0 !important
    line-height: inherit !important
  button
    background: #eb7a2d
    color: white
    font-size: 14px
    font-weight: 400
    border: none
    padding: 11px 22px
    margin: 6px 0 0 0

.faqPayment
  display: inline-block
  vertical-align: bottom
  margin: 0 0 0 100px
  ul li
    margin-right: 7px
    display: inline-block
    vertical-align: middle


//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||blogPOST||||||||||||||||||||||||||||||||||||||||||||||||||||

.blogPost .contentTitle
  margin-bottom: 35px


.blogPost
  overflow: hidden

.blogContent
  width: 74%
  float: right
  display: inline-block
  vertical-align: top
  background-color: white
  border: 1px solid rgba(40, 38, 34, 0.2)
  padding: 23px 25px 72px
  @include prefix(box-sizing, border-box)
  .blogContentHeader
    overflow: hidden
    h2
      margin-top: 6px
      display: inline-block
      vertical-align: middle
      font-size: 12px
      font-style: italic
      color: #555
      font-weight: normal
      span
        color: #eb7a2d
    h3
      display: inline-block
      vertical-align: middle
      float: right
      color: #555
      font-size: 12px
      font-style: italic
      font-weight: normal
      line-height: 19px
      margin-right: 7px
      span
        color: #eb7a2d
        font-family: "BenderBoldItalic"
        font-size: 24px
  .blogContentBody
    .blogContentBodyL,
    .blogContentBodyR
      display: inline-block
      vertical-align: top
      width: 46%
    .blogContentBodyL
      margin-right: 7.5%
    .blogContentBodyR
      margin-top: 46px
    h1
      margin: 41px 0 45px
      font-family: "avalonregular"
      color: #eb7a2d
      font-size: 30px
      line-height: 48px
    .grayBox
      width: 400px
      height: 317px
      background: #999
      position: relative
      left: -26px
      margin-bottom: 55px
    h2
      margin-bottom: 23px
      color: #010101
      font-size: 21px
      font-weight: normal
    p
      color: #555
      font-size: 14px
      line-height: 24px
  .blogComment
    margin-top: 58px
    .blogCommentInfo
      a
        display: inline-block
        float: right
        font-family: "BenderBold"
        color: white
        font-size: 18px
        text-decoration: none
        background: #eb7a2d
        padding: 13px 24px
      h2
        padding: 10px 0 15px
        font-size: 20px
        text-transform: uppercase
        color: black
        font-weight: normal
        span
          color: #eb7a2d
    .mainComment,
    .subComment
      border-bottom: 2px solid #f1f1f1
      margin-bottom: 32px
      h2
        font-size: 18px
        color: #eb7a2d
        font-weight: normal
        margin-bottom: 4px
        span
          color: #555
      h3
        color: #999
        font-size: 12px
        font-style: italic
        margin-bottom: 22px
        font-weight: normal
      p
        color: #555
        font-size: 14px
      a
        margin: 15px 0 18px
        display: inline-block
        height: 14px
        color: #eb7a2d
        font-size: 14px
        font-style: italic
        text-decoration: underline
        &:hover
          text-decoration: none
    .subComment
      margin: 0 0 32px 71px


.blogAside
  width: 23%
  float: right
  margin-right: 2.6%
  display: inline-block
  vertical-align: top
  .blogAsideInisde
    background-color: white
    border: 1px solid rgba(40, 38, 34, 0.2)
  .blogAsideBox
    .grayBox
      width: 100%
      height: 200px
      background: #999
    .blogAsideBoxContent
      padding: 31px 20px 34px 29px
    h2
      margin-bottom: 10px
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 14px
      text-transform: uppercase
    h3
      margin-bottom: 22px
      color: #555
      font-size: 12px
      font-style: italic
    p
      line-height: 23px
      color: #555
      font-size: 14px
  .tagBox
    padding: 43px 0 0 27px
    h2
      color: #5b5c5a
      font-family: "avalonregular"
      font-size: 24px
      margin-bottom: 15px
    >a
      font-family: "BenderItalic"
      color: black
      font-size: 14px
      margin: 10px 0 0
      display: inline-block
      font-weight: bold
      &:hover
        text-decoration: none
    ul
      overflow: hidden
      li
        float: left
        margin: 0 8px 8px 0
        a
          background: #e9e9e9
          padding: 8px 13px
          display: block
          font-family: "BenderRegular"
          color: #333
          font-size: 12px
          text-decoration: none


.radioBox
  overflow: hidden
.radioBtn
  width: 50%
  height: 65px
  line-height: 65px
  text-align: center
  background: #e9e9e9
  color: #999
  display: block
  float: left
  border: none
  cursor: pointer
  margin: 0
  font-family: "avalonregular"
  font-size: 14px
.radio-label
  display: none
.radio-label:checked + .radioBtn
  background: white
  color: black









