@import url(fonts.css);
* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  min-width: 300px; }

body.active:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.wrap {
  width: 1170px;
  margin: 0 auto;
  position: relative; }

.triangleBot, .footer .footerBottom .footerNewsletter form .submit:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: white transparent transparent transparent; }

.noMarg {
  margin: 0 !important; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.active-popup {
  display: block !important; }

.popup-wrap {
  z-index: 100001;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.logInPopup {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  width: 430px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 7px solid #eb7a2d;
  background: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 20px 0; }
  .logInPopup .logInPopupWrap {
    padding: 0 60px; }
  .logInPopup img {
    width: 94%;
    margin: 24px 0 41px 8px; }
  .logInPopup .linkBox {
    font-size: 32px;
    color: #5b5c5a;
    text-align: center;
    margin-bottom: 17px; }
  .logInPopup .logInBtn,
  .logInPopup .sigbUpBtn {
    font-family: "avalonregular";
    font-size: 32px;
    color: #5b5c5a;
    text-decoration: none; }
  .logInPopup .sigbUpBtn {
    color: #eb7a2d; }
  .logInPopup form input {
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #e9e9e9;
    color: #5b5c5a;
    font-size: 16px;
    margin: 0 0 17px;
    border: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 17px; }
  .logInPopup form button {
    width: 93px;
    height: 47px;
    background-color: #eb7a2d;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700; }
  .logInPopup form a {
    text-decoration: none;
    color: #eb7a2d;
    font-size: 14px;
    margin-left: 27px;
    font-style: italic; }

.loginSocial {
  margin-top: 50px;
  border-top: 2px solid #f6f6f6;
  text-align: center;
  padding: 31px 22px 12px; }
  .loginSocial ul {
    overflow: hidden; }
    .loginSocial ul li {
      float: left;
      margin: 0 10px;
      overflow: hidden; }
      .loginSocial ul li a {
        width: 46px;
        height: 46px;
        display: block; }
    .loginSocial ul li:nth-child(1) a {
      background: url(../img/loginSocial.png) 0 0 no-repeat; }
    .loginSocial ul li:nth-child(2) a {
      background: url(../img/loginSocial.png) -66px 0 no-repeat; }
    .loginSocial ul li:nth-child(3) a {
      background: url(../img/loginSocial.png) -132px 0 no-repeat; }
    .loginSocial ul li:nth-child(4) a {
      background: url(../img/loginSocial.png) -201px 0 no-repeat; }

.close-popup {
  position: absolute;
  right: 22px;
  top: -1px; }

.ui-tooltip {
  color: #5b5c5a;
  font-size: 14px;
  line-height: 16px; }

.logo {
  margin: 19px 0 0 0;
  display: inline-block; }

.cartBox {
  position: relative;
  margin: 0 2px 0 0;
  padding: 20px 17px 11px 22px;
  float: right;
  width: 202px;
  border: 1px solid #c4c6cb;
  border-top: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .cartBox img {
    float: right;
    position: relative;
    left: -8px;
    top: -5px; }
  .cartBox h2 {
    display: inline-block;
    color: #5b5c5a;
    font-size: 18px;
    font-weight: 700;
    padding-left: 3px; }
  .cartBox h3 {
    display: inline-block;
    font-size: 12px;
    color: #5b5c5a;
    padding-left: 5px; }
  .cartBox button {
    border: none;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: block;
    margin: 12px auto 0;
    background-color: #eb7a2d;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }

.userBox {
  float: right;
  width: 247px;
  margin: 49px 0 0 0; }
  .userBox .user, .userBox .settings {
    text-decoration: none;
    display: inline-block; }
    .userBox .user h2, .userBox .settings h2 {
      display: inline-block;
      color: #5b5c5a;
      font-size: 16px;
      position: relative;
      top: -6px;
      left: 3px; }
  .userBox .user {
    margin: 0 40px 0 0; }
  .userBox .settings img {
    position: relative;
    top: 2px; }
  .userBox .settings h2 {
    left: 4px; }

.navBox {
  background: #0098c8;
  height: 82px; }
  .navBox .nav {
    display: inline-block; }
    .navBox .nav > li {
      padding: 26px 33px 25px 16px;
      float: left;
      cursor: pointer;
      margin: 0 0 0 11px;
      position: relative; }
      .navBox .nav > li:first-child {
        padding: 26px 0 20px 0;
        margin: 0 11px 0 0; }
      .navBox .nav > li:last-child {
        margin: 0 0 0 1px; }
      .navBox .nav > li:nth-child(2):hover {
        background-color: #eb7a2d; }
      .navBox .nav > li:nth-child(3):hover {
        background-color: #014068; }
      .navBox .nav > li > a {
        position: relative;
        color: white;
        font-family: "avalonregular";
        font-size: 26px;
        text-decoration: none; }
        .navBox .nav > li > a span {
          position: absolute;
          right: -19px;
          top: 9px; }
        .navBox .nav > li > a img {
          margin: 0 9px 0 0; }
    .navBox .nav li:hover .hiddenMenu {
      display: block; }
  .navBox .searchBox {
    float: right; }
    .navBox .searchBox form {
      position: relative;
      width: 400px;
      height: 45px;
      display: inline-block;
      vertical-align: top;
      margin: 20px 23px 0 0; }
      .navBox .searchBox form input {
        background: white;
        border: none;
        width: 100%;
        height: 100%;
        padding: 0 45px 0 15px;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
      .navBox .searchBox form .submit {
        width: 45px;
        height: 45px;
        background-color: #eb7a2d;
        border: none;
        position: absolute;
        right: 0;
        top: 0; }
    .navBox .searchBox .searchBtn {
      width: 45px;
      height: 45px;
      background-color: #eb7a2d;
      display: inline-block;
      margin: 20px 0 0 0;
      position: relative; }
      .navBox .searchBox .searchBtn span {
        width: 65%;
        height: 4px;
        position: absolute;
        left: 0;
        right: 0;
        background: white;
        margin: 0 auto; }
      .navBox .searchBox .searchBtn span:nth-child(1) {
        top: 9px; }
      .navBox .searchBox .searchBtn span:nth-child(2) {
        top: 20px; }
      .navBox .searchBox .searchBtn span:nth-child(3) {
        top: 31px; }

.hiddenBox {
  display: none; }

.cartBox .hiddenBox {
  position: absolute;
  z-index: 1000;
  background: white;
  width: 300px;
  left: -99px;
  top: 119px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 20px 0 16px;
  border: 1px solid #C4C6CB;
  border-top: none; }
  .cartBox .hiddenBox .checkOutBtn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 22px;
    background-color: #eb7a2d;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0 23px; }
  .cartBox .hiddenBox ul li {
    margin-bottom: 16px; }
    .cartBox .hiddenBox ul li .imgBox {
      width: 68px;
      height: 55px;
      background-color: white;
      float: left;
      margin-right: 14px;
      border: 1px solid rgba(40, 38, 34, 0.2); }
    .cartBox .hiddenBox ul li h2 {
      color: #555;
      font-size: 14px;
      font-weight: 700;
      padding: 0; }
      .cartBox .hiddenBox ul li h2 span {
        display: block;
        font-weight: 400; }
    .cartBox .hiddenBox ul li h3 {
      margin-top: 7px;
      color: #eb7a2d;
      font-size: 16px;
      display: block;
      font-family: "BenderBoldItalic"; }

.hideItem, .close-popup {
  margin-top: 17px;
  font-weight: 700;
  float: right;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  background-color: #e9e9e9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  color: #999;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none; }

.hiddenMenu {
  display: none;
  position: absolute;
  left: 0;
  top: 82px;
  background: white;
  padding: 20px 18px 158px 20px;
  width: 835px;
  z-index: 10000;
  border-top: 7px solid #eb7a2d;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32); }
  .hiddenMenu .hiddenMenuItem {
    width: 170px;
    margin: 0 13px;
    display: inline-block;
    vertical-align: top; }
    .hiddenMenu .hiddenMenuItem li {
      padding: 0 25px 5px 0;
      position: relative;
      display: inline-block; }
      .hiddenMenu .hiddenMenuItem li:first-child {
        width: 100%; }
      .hiddenMenu .hiddenMenuItem li:hover .hiddenSubMenu {
        display: block; }
      .hiddenMenu .hiddenMenuItem li:hover button {
        color: #eb7a2d; }
      .hiddenMenu .hiddenMenuItem li .imgBox {
        display: block;
        width: 100%;
        padding: 7px 0;
        margin-bottom: 15px;
        background-color: #eb7a2d;
        text-align: center;
        min-height: 47px; }
      .hiddenMenu .hiddenMenuItem li h2 {
        color: #5b5c5a;
        font-family: "avalonregular";
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 11px; }
      .hiddenMenu .hiddenMenuItem li button {
        font-size: 14px;
        color: #555;
        border: none;
        background: none;
        padding: 0 16px 0 13px;
        position: relative; }
        .hiddenMenu .hiddenMenuItem li button:before {
          font-family: "avalonregular";
          content: ">";
          position: absolute;
          left: 0;
          top: 2px;
          color: #5b5c5a;
          font-size: 14px; }
        .hiddenMenu .hiddenMenuItem li button:after {
          content: "";
          position: absolute;
          right: 0;
          top: 5px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 6px;
          border-color: transparent transparent transparent #5b5c5a; }

.hiddenMenu .hiddenSubMenu {
  display: none;
  position: absolute;
  right: -217px;
  top: -1px;
  border-top: 7px solid #EB7A2D;
  width: 172px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.32);
  z-index: 10001;
  padding: 10px 30px; }
  .hiddenMenu .hiddenSubMenu li {
    display: block; }
    .hiddenMenu .hiddenSubMenu li a {
      font-size: 14px;
      color: #555;
      text-decoration: none; }
      .hiddenMenu .hiddenSubMenu li a:hover {
        color: #eb7a2d; }

.serviceMenu {
  width: 633px;
  border-top: 7px solid #014068; }
  .serviceMenu .hiddenMenuItem {
    margin: 0 13px 0 12px; }
  .serviceMenu .hiddenMenuItem li .imgBox {
    background-color: #014068; }
  .serviceMenu .hiddenSubMenu {
    border-top: 7px solid #014068; }

.content {
  padding: 62px 0 141px 0; }
  .content .contentTitle {
    color: #5b5c5a;
    font-family: "avalonregular";
    font-size: 32px;
    font-weight: normal; }
  .content .contentInside {
    margin: 31px 0 0 0;
    border: 1px solid rgba(40, 38, 34, 0.2);
    padding: 30px 0 24px 0;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .content .contentInside .hr {
      width: 100%;
      border: 1px solid #f1f1f1;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
    .content .contentInside .contentItem {
      width: 31.5%;
      padding: 0 0 20px 26px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top; }
      .content .contentInside .contentItem h2 {
        font-weight: normal;
        font-family: "avalonregular"; }
      .content .contentInside .contentItem p {
        line-height: 24px;
        padding: 22px 12px 0 0; }
      .content .contentInside .contentItem h3 {
        padding: 39px 0 0 67px;
        color: #EB7A2D;
        font-family: "avalonregular";
        font-size: 24px;
        font-weight: normal;
        line-height: 37px; }
      .content .contentInside .contentItem .greyBox {
        width: 370px;
        height: 317px;
        background: #8e8e8e;
        margin: 75px 0 0 30px; }
    .content .contentInside .contentBottomItem li {
      width: 32.5%;
      padding: 50px 0 0 28px;
      vertical-align: top;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .content .contentInside .contentBottomItem li .contentBottomItemImg {
        float: left;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #eb7a2d; }
      .content .contentInside .contentBottomItem li .contentBottomItemContent {
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        width: 78%;
        float: right;
        padding: 0 50px 0 0; }
        .content .contentInside .contentBottomItem li .contentBottomItemContent h2 {
          color: #5b5c5a;
          font-family: "avalonregular";
          font-size: 24px;
          margin: 0 0 25px 0;
          font-weight: normal; }
        .content .contentInside .contentBottomItem li .contentBottomItemContent p {
          color: #999;
          font-size: 14px;
          line-height: 18px; }

.footer {
  padding: 62px 0 0 0;
  background: #f2f2f2; }
  .footer .footerContent {
    padding: 0 0 108px 0;
    overflow: hidden; }
    .footer .footerContent .footerContentLeft,
    .footer .footerContent .footerContentRight {
      width: 49%;
      display: inline-block;
      vertical-align: top; }
    .footer .footerContent .footerContentRight {
      float: right; }
    .footer .footerContent .outside {
      position: relative; }
      .footer .footerContent .outside h3 {
        text-align: center;
        color: #5b5c5a;
        font-family: "avalonregular";
        font-size: 32px;
        margin: 0 0 51px 10px;
        font-weight: normal; }
      .footer .footerContent .outside p {
        position: absolute;
        right: 9px;
        top: 10px; }
      .footer .footerContent .outside #sliderLeft-prev a,
      .footer .footerContent .outside #sliderLeft-next a,
      .footer .footerContent .outside #sliderRight-prev a,
      .footer .footerContent .outside #sliderRight-next a {
        text-decoration: none;
        width: 8px;
        height: 8px;
        border-left: 5px solid #999;
        border-bottom: 5px solid #999;
        display: inline-block;
        -webkit-transform: rotate(45deg);
        -khtml-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
        .footer .footerContent .outside #sliderLeft-prev a:hover,
        .footer .footerContent .outside #sliderLeft-next a:hover,
        .footer .footerContent .outside #sliderRight-prev a:hover,
        .footer .footerContent .outside #sliderRight-next a:hover {
          border-color: #eb7a2d; }
      .footer .footerContent .outside #sliderLeft-next a,
      .footer .footerContent .outside #sliderRight-next a {
        -webkit-transform: rotate(225deg);
        -khtml-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg); }
    .footer .footerContent .footerContentRight .outside h3 {
      margin: 0 0 51px 6px; }
    .footer .footerContent .footerContentRight .outside p {
      right: 5px;
      top: 10px; }
    .footer .footerContent .footerContentRight .sliderQuote {
      background: white;
      position: relative;
      padding: 34px 40px 28px 57px;
      color: #555;
      font-size: 14px;
      line-height: 24px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
      .footer .footerContent .footerContentRight .sliderQuote .triangleBot, .footer .footerContent .footerContentRight .sliderQuote .footerBottom .footerNewsletter form .submit:after, .footer .footerBottom .footerNewsletter form .footerContent .footerContentRight .sliderQuote .submit:after {
        position: absolute;
        left: 50%;
        bottom: -15px;
        border-width: 15px 15px 0 16px;
        margin-left: -15px; }
      .footer .footerContent .footerContentRight .sliderQuote:before, .footer .footerContent .footerContentRight .sliderQuote:after {
        content: "";
        position: absolute;
        left: 26px;
        top: 13px;
        background: url(../img/quote.png) 0 0 no-repeat;
        width: 25px;
        height: 21px; }
      .footer .footerContent .footerContentRight .sliderQuote:after {
        left: initial;
        top: initial;
        right: 25px;
        bottom: 26px;
        background: url(../img/quote.png) 0 0 no-repeat;
        -webkit-transform: rotate(180deg);
        -khtml-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .footer .footerContent .footerContentRight .sliderRight li {
      text-align: center; }
      .footer .footerContent .footerContentRight .sliderRight li img {
        margin: 26px 0 3px 0; }
      .footer .footerContent .footerContentRight .sliderRight li h2 {
        color: #5b5c5a;
        font-size: 20px;
        font-family: "avalonregular"; }
  .footer .footerBottom {
    background: #222429;
    padding: 19px 0 53px 0; }
    .footer .footerBottom .footerLogo {
      display: inline-block;
      vertical-align: top;
      width: 265px; }
      .footer .footerBottom .footerLogo p {
        color: white;
        font-size: 14px;
        margin: 14px 0 0 0;
        line-height: 23px; }
    .footer .footerBottom .footerNav {
      display: inline-block;
      vertical-align: top;
      width: 275px;
      margin: 14px 0 0 64px; }
      .footer .footerBottom .footerNav .footerNavItemL,
      .footer .footerBottom .footerNav .footerNavItemR {
        float: left; }
        .footer .footerBottom .footerNav .footerNavItemL h2,
        .footer .footerBottom .footerNav .footerNavItemR h2 {
          margin-bottom: 27px;
          font-family: "avalonregular";
          font-size: 18px;
          color: white;
          font-weight: normal; }
        .footer .footerBottom .footerNav .footerNavItemL ul li a,
        .footer .footerBottom .footerNav .footerNavItemR ul li a {
          display: block;
          margin-bottom: 5px;
          text-decoration: none;
          color: white; }
          .footer .footerBottom .footerNav .footerNavItemL ul li a:hover,
          .footer .footerBottom .footerNav .footerNavItemR ul li a:hover {
            text-decoration: underline; }
      .footer .footerBottom .footerNav .footerNavItemR {
        float: right; }
    .footer .footerBottom .footerNewsletter {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      margin: 14px 0 0 91px; }
      .footer .footerBottom .footerNewsletter h2 {
        color: #fcffff;
        font-size: 18px;
        font-family: "avalonregular";
        margin: 0 0 23px 0;
        font-weight: normal; }
      .footer .footerBottom .footerNewsletter h3 {
        color: white;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 19px; }
      .footer .footerBottom .footerNewsletter form {
        position: relative; }
        .footer .footerBottom .footerNewsletter form input {
          width: 100%;
          height: 34px;
          background: #050506;
          color: #999;
          font-size: 14px;
          font-style: italic;
          border: none;
          padding: 0 35px 0 11px;
          -webkit-box-sizing: border-box;
          -khtml-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
        .footer .footerBottom .footerNewsletter form .submit {
          position: absolute;
          right: 0;
          top: 0;
          width: 34px;
          height: 34px;
          background: #eb7a2d;
          border: none; }
          .footer .footerBottom .footerNewsletter form .submit:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 30%;
            margin: 0 auto;
            border-width: 7px 0 7px 9px;
            border-color: transparent transparent transparent #FFF; }
      .footer .footerBottom .footerNewsletter .social {
        margin: 29px 0 0 0; }
        .footer .footerBottom .footerNewsletter .social li {
          float: left;
          margin: 0 8px 0 0; }
          .footer .footerBottom .footerNewsletter .social li a {
            width: 26px;
            height: 26px;
            display: block; }
        .footer .footerBottom .footerNewsletter .social li:nth-child(1) a {
          background: url(../img/social-icons.png) 0 0 no-repeat; }
        .footer .footerBottom .footerNewsletter .social li:nth-child(2) a {
          background: url(../img/social-icons.png) -34px 0 no-repeat; }
        .footer .footerBottom .footerNewsletter .social li:nth-child(3) a {
          background: url(../img/social-icons.png) -68px 0 no-repeat; }
        .footer .footerBottom .footerNewsletter .social li:nth-child(4) a {
          background: url(../img/social-icons.png) -102px 0 no-repeat; }
  .footer .footerPayment {
    display: inline-block;
    vertical-align: top;
    float: right;
    width: 187px;
    margin: 15px 0 0 0; }
    .footer .footerPayment h2 {
      text-align: center;
      color: #fcffff;
      font-weight: normal;
      font-family: "avalonregular";
      font-size: 18px;
      margin-bottom: 30px; }
    .footer .footerPayment ul li {
      float: left;
      margin: 0 9px 18px; }
  .footer .footerCopy {
    height: 59px;
    line-height: 59px;
    text-align: center;
    background: #000009; }
    .footer .footerCopy h2 {
      color: white;
      font-size: 14px;
      font-weight: normal; }

.sliderLeftItem {
  background: white; }
  .sliderLeftItem .sliderLeftItemContent {
    padding: 20px 20px 27px; }
    .sliderLeftItem .sliderLeftItemContent h2 {
      color: #5b5c5a;
      font-size: 18px;
      font-weight: normal; }
    .sliderLeftItem .sliderLeftItemContent h3 {
      font-size: 12px;
      font-style: italic;
      color: #eb7a2d;
      margin: 5px 0 25px 0; }
      .sliderLeftItem .sliderLeftItemContent h3 span {
        color: #555; }
    .sliderLeftItem .sliderLeftItemContent p {
      font-size: 14px;
      color: #555;
      line-height: 23px; }
      .sliderLeftItem .sliderLeftItemContent p a {
        color: #eb7a2d;
        font-style: italic;
        display: block; }
    .sliderLeftItem .sliderLeftItemContent h4 {
      margin-top: 9px;
      color: #eb7a2d; }

.footer.blog {
  padding: 0; }

.blog .contentTitle {
  margin-bottom: 43px; }
.blog .viewMore {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: #eb7a2d;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  font-weight: 900;
  border: none;
  margin: 25px 0 0; }
  .blog .viewMore img {
    position: relative;
    right: -5px;
    top: 3px; }
.blog #blogItems {
  position: relative; }
  .blog #blogItems .blogItem {
    width: 23%;
    border: 1px solid rgba(40, 38, 34, 0.2);
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .blog #blogItems .blogItem h2 {
      color: #5b5c5a;
      font-family: "avalonregular";
      font-size: 24px;
      font-weight: normal;
      padding: 23px 21px 16px 21px;
      line-height: 28px; }
    .blog #blogItems .blogItem p {
      font-size: 14px;
      color: #555;
      padding: 14px 24px 25px 24px;
      line-height: 23px; }
      .blog #blogItems .blogItem p a {
        color: #eb7a2d;
        font-style: italic; }
        .blog #blogItems .blogItem p a:hover {
          text-decoration: none; }
    .blog #blogItems .blogItem .greyBox,
    .blog #blogItems .blogItem .greyBox2,
    .blog #blogItems .blogItem .greyBox3 {
      width: 100%;
      height: 160px;
      margin: 10px 0;
      background: #999; }
    .blog #blogItems .blogItem .greyBox2 {
      height: 116px; }
    .blog #blogItems .blogItem .greyBox3 {
      height: 153px; }
    .blog #blogItems .blogItem .blogItemBottomNav {
      padding: 0 23px 13px 19px; }
      .blog #blogItems .blogItem .blogItemBottomNav h2 {
        color: #b9b9b9;
        font-size: 12px;
        font-style: italic;
        display: inline-block;
        font-weight: normal;
        padding: 0;
        letter-spacing: -0.6px; }
      .blog #blogItems .blogItem .blogItemBottomNav button {
        margin: 3px 0 0 18px;
        float: right;
        border: none;
        background: none; }

.faq .contentTitle {
  margin-bottom: 37px; }
.faq .faqPayment {
  margin: 190px 39px 34px 0;
  overflow: hidden; }
  .faq .faqPayment ul {
    float: right; }
    .faq .faqPayment ul li {
      margin-left: 9px;
      display: inline-block;
      vertical-align: middle; }
.faq .accordion {
  border: 1px solid rgba(40, 38, 34, 0.2);
  border-top: none; }
.faq .titleAcc {
  border-top: 1px solid rgba(40, 38, 34, 0.2);
  height: 78px;
  line-height: 78px;
  font-family: "avalonregular";
  color: #5b5c5a;
  font-size: 24px;
  padding: 0 0 0 56px;
  cursor: pointer;
  position: relative; }
  .faq .titleAcc span:before {
    content: "+";
    color: #eb782a;
    position: absolute;
    left: 29px; }
.faq .accInside {
  width: 455px;
  display: inline-block;
  vertical-align: top;
  margin: 32px 0 35px 69px;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .faq .accInside ul {
    padding-left: 19px;
    list-style-type: disc; }
.faq .hideAcc {
  color: #555; }

.faqInfo {
  height: 80px;
  line-height: 80px;
  background-color: #e9e9e9;
  color: #999;
  font-size: 14px;
  text-align: center;
  margin: 15px 0 0; }

.titleAcc.active {
  background-color: #e9e9e9; }
  .titleAcc.active span:before {
    content: "-";
    font-size: 36px;
    top: -2px; }

.index {
  padding: 0;
  background: #f2f2f2; }
  .index .sliderBox {
    position: relative; }
  .index .indexSliderItem {
    position: absolute;
    left: 0;
    top: 0;
    height: 565px; }
    .index .indexSliderItem .indexSliderItemContent {
      position: relative;
      z-index: 1;
      padding: 90px 0 0 40px;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
    .index .indexSliderItem h2 {
      color: #0098c8;
      font-family: "avalonregular";
      font-size: 50px;
      font-weight: normal;
      padding: 0 0 25px 0; }
      .index .indexSliderItem h2 span {
        font-size: 72px; }
    .index .indexSliderItem h3 {
      color: #5b5c5a;
      font-size: 18px;
      font-weight: normal;
      line-height: 27px;
      margin-bottom: 53px; }
    .index .indexSliderItem a {
      display: block;
      width: 161px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      background-color: #eb7a2d;
      color: white;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 25px; }
    .index .indexSliderItem .sliderBg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }

.sliderBox .outside p {
  position: absolute;
  z-index: 2;
  left: 40px;
  bottom: 65px; }
.sliderBox .outside #indexSliderItem-prev .bx-prev,
.sliderBox .outside #indexSliderItem-next .bx-next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background: white;
  display: inline-block;
  text-align: center; }
  .sliderBox .outside #indexSliderItem-prev .bx-prev:after,
  .sliderBox .outside #indexSliderItem-next .bx-next:after {
    content: "";
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    border-left: 5px solid #999;
    border-bottom: 5px solid #999;
    display: inline-block; }
    .sliderBox .outside #indexSliderItem-prev .bx-prev:after:hover,
    .sliderBox .outside #indexSliderItem-next .bx-next:after:hover {
      border-color: #eb7a2d; }
.sliderBox .outside #indexSliderItem-next .bx-next {
  margin-left: 15px; }
  .sliderBox .outside #indexSliderItem-next .bx-next:after {
    content: "";
    -webkit-transform: rotate(225deg);
    -khtml-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }
.sliderBox .bx-pager {
  position: absolute;
  left: 47%;
  bottom: 20px;
  z-index: 10; }
  .sliderBox .bx-pager .bx-pager-item {
    float: left; }
    .sliderBox .bx-pager .bx-pager-item a {
      text-indent: -50px;
      width: 10px;
      height: 10px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      background: #5b5c5a;
      display: block;
      overflow: hidden;
      margin: 0 5px; }
    .sliderBox .bx-pager .bx-pager-item a.active {
      background: #0098c8; }

.indexFooterContent h3 {
  color: #5b5c5a;
  font-family: "avalonregular";
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 50px; }
.indexFooterContent .sliderLeftItem {
  width: 270px;
  display: inline-block;
  margin: 0 25px 0 0; }
  .indexFooterContent .sliderLeftItem:last-child {
    margin: 0; }

.productsBox {
  position: relative;
  text-align: center;
  margin: 78px 0 0; }
  .productsBox > h2 {
    display: inline-block;
    font-family: "avalonregular";
    font-size: 32px;
    color: #5b5c5a;
    font-weight: normal;
    margin: 0 33px 29px; }
  .productsBox > h2.active {
    color: #0098c8;
    border-bottom: 4px solid #0098c8;
    padding: 0 0 3px 0; }
  .productsBox .outside p {
    position: absolute;
    right: 9px;
    top: 10px; }
    .productsBox .outside p #productsBox-prev a,
    .productsBox .outside p #productsBox-next a {
      text-decoration: none;
      width: 8px;
      height: 8px;
      border-left: 5px solid #999;
      border-bottom: 5px solid #999;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      -khtml-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
      .productsBox .outside p #productsBox-prev a:hover,
      .productsBox .outside p #productsBox-next a:hover {
        border-color: #eb7a2d; }
    .productsBox .outside p #productsBox-next a {
      -webkit-transform: rotate(225deg);
      -khtml-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      transform: rotate(225deg); }

.productsSliderItem, .productBoxItem {
  background: white;
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
  .productsSliderItem .hiddenProductsItem, .productBoxItem .hiddenProductsItem, .productBoxItem .hiddenProductsItem2 {
    display: none; }
  .productsSliderItem:hover .hiddenProductsItem, .productBoxItem:hover .hiddenProductsItem, .productsSliderItem:hover .productBoxItem .hiddenProductsItem2, .productBoxItem .productsSliderItem:hover .hiddenProductsItem2, .productBoxItem:hover .hiddenProductsItem2 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(235, 122, 45, 0.9);
    padding: 85px 0 0;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .productsSliderItem:hover .hiddenProductsItem .hiddenCartBtn, .productBoxItem:hover .hiddenProductsItem .hiddenCartBtn, .productsSliderItem:hover .productBoxItem .hiddenProductsItem2 .hiddenCartBtn, .productBoxItem .productsSliderItem:hover .hiddenProductsItem2 .hiddenCartBtn, .productBoxItem:hover .hiddenProductsItem2 .hiddenCartBtn,
    .productsSliderItem:hover .hiddenProductsItem .hiddenViewBtn,
    .productBoxItem:hover .hiddenProductsItem .hiddenViewBtn,
    .productsSliderItem:hover .productBoxItem .hiddenProductsItem2 .hiddenViewBtn,
    .productBoxItem .productsSliderItem:hover .hiddenProductsItem2 .hiddenViewBtn,
    .productBoxItem:hover .hiddenProductsItem2 .hiddenViewBtn {
      display: block;
      width: 170px;
      height: 47px;
      line-height: 47px;
      background-color: white;
      border: none;
      margin: 24px auto;
      position: relative;
      text-transform: uppercase;
      text-align: left;
      color: #5b5c5a;
      font-size: 14px;
      text-decoration: none; }
      .productsSliderItem:hover .hiddenProductsItem .hiddenCartBtn img, .productBoxItem:hover .hiddenProductsItem .hiddenCartBtn img, .productsSliderItem:hover .productBoxItem .hiddenProductsItem2 .hiddenCartBtn img, .productBoxItem .productsSliderItem:hover .hiddenProductsItem2 .hiddenCartBtn img, .productBoxItem:hover .hiddenProductsItem2 .hiddenCartBtn img,
      .productsSliderItem:hover .hiddenProductsItem .hiddenViewBtn img,
      .productBoxItem:hover .hiddenProductsItem .hiddenViewBtn img,
      .productsSliderItem:hover .productBoxItem .hiddenProductsItem2 .hiddenViewBtn img,
      .productBoxItem .productsSliderItem:hover .hiddenProductsItem2 .hiddenViewBtn img,
      .productBoxItem:hover .hiddenProductsItem2 .hiddenViewBtn img {
        margin: 10px 15px 0 11px;
        width: 18%;
        border: none;
        float: left; }
    .productsSliderItem:hover .hiddenProductsItem .hiddenViewBtn img, .productBoxItem:hover .hiddenProductsItem .hiddenViewBtn img, .productsSliderItem:hover .productBoxItem .hiddenProductsItem2 .hiddenViewBtn img, .productBoxItem .productsSliderItem:hover .hiddenProductsItem2 .hiddenViewBtn img, .productBoxItem:hover .hiddenProductsItem2 .hiddenViewBtn img {
      margin: 15px 15px 0 11px; }
  .productsSliderItem img, .productBoxItem img {
    border-bottom: 2px solid #f6f6f6; }
  .productsSliderItem h2, .productBoxItem h2 {
    color: #555;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-align: left;
    padding: 14px 0 27px 27px;
    float: left; }
    .productsSliderItem h2 span, .productBoxItem h2 span {
      display: block;
      font-weight: 400; }
  .productsSliderItem h3, .productBoxItem h3 {
    float: right;
    color: #eb7a2d;
    font-family: "BenderBoldItalic";
    font-size: 18px;
    padding: 14px 30px 0 0;
    font-weight: normal; }
    .productsSliderItem h3 span, .productBoxItem h3 span {
      color: #999;
      font-family: "BenderBoldItalic";
      font-size: 14px;
      text-decoration: line-through;
      display: block;
      text-align: right; }
  .productsSliderItem .newBox, .productBoxItem .newBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 46px 0 0;
    border-color: #eb7a2d transparent transparent transparent; }
    .productsSliderItem .newBox:after, .productBoxItem .newBox:after {
      content: "NEW";
      position: absolute;
      top: -37px;
      left: 5px;
      font-size: 9px;
      color: white;
      font-family: "BenderBoldItalic"; }

.productsBlocks {
  margin: 85px 0 0;
  background: white;
  padding: 42px 0 50px; }
  .productsBlocks ul {
    overflow: hidden; }
    .productsBlocks ul li {
      border: 1px solid rgba(131, 140, 142, 0.31);
      float: left;
      width: 31.5%;
      padding: 0 40px 30px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .productsBlocks ul li:nth-child(2) {
        margin: 0 2.6%; }
        .productsBlocks ul li:nth-child(2) .imgBox {
          padding-top: 41px;
          height: 113px; }
      .productsBlocks ul li h2 {
        color: #0098c8;
        font-family: "avalonregular";
        font-size: 22px;
        line-height: 16px;
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 20px; }
      .productsBlocks ul li p {
        color: #3b3b3b;
        font-size: 14px;
        line-height: 19px; }
      .productsBlocks ul li .imgBox {
        height: 128px;
        padding-top: 26px; }

.crumbs {
  overflow: hidden; }
  .crumbs li {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 14px 0 0;
    position: relative; }
    .crumbs li:after {
      content: "/";
      position: absolute;
      right: -13px;
      font-family: "avalonregular"; }
    .crumbs li:first-child {
      margin: 1px 14px 0 0; }
      .crumbs li:first-child:after {
        top: 7px; }
    .crumbs li:last-child:after {
      content: ""; }
    .crumbs li a {
      font-family: "avalonregular";
      font-size: 18px;
      color: #5b5c5a;
      text-decoration: none; }
    .crumbs li a.active {
      color: #eb7a2d; }

.content.product {
  padding: 26px 0 11px 0; }
  .content.product .contentTitle {
    margin: 67px 0 59px; }
  .content.product .productBox {
    margin: 0 0 45px 0; }
    .content.product .productBox .productTitle {
      font-weight: normal;
      color: #5b5c5a;
      font-family: "avalonregular";
      font-size: 28px;
      margin-bottom: 13px; }

.productBoxItem {
  width: 25%;
  margin-bottom: 57px; }
  .productBoxItem img {
    border: none; }
  .productBoxItem .productImg {
    height: 242px;
    text-align: center;
    border-bottom: 2px solid #F6F6F6; }
  .productBoxItem h2 {
    padding: 17px 0 27px 27px; }
  .productBoxItem h3 {
    padding: 17px 30px 0 0; }
  .productBoxItem .hiddenProductsItem2 {
    padding: 110px 0 0 !important; }

.logIn .logInContent {
  padding: 0; }
.logIn .logInLeft,
.logIn .logInRight {
  display: inline-block;
  vertical-align: top;
  width: 49.8%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.logIn .logInLeft {
  padding: 28px;
  border-right: 2px solid #f6f6f6; }
  .logIn .logInLeft h2 {
    color: #5b5c5a;
    font-size: 24px;
    font-family: "avalonregular";
    margin-bottom: 27px;
    font-weight: normal; }
  .logIn .logInLeft form label {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 12px; }
  .logIn .logInLeft form input {
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #e9e9e9;
    color: #5b5c5a;
    font-size: 16px;
    margin: 0 0 18px;
    border: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 17px; }
  .logIn .logInLeft form button {
    border: 5px solid #eb7a2d;
    background: white;
    color: #5b5c5a;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 17px;
    margin: 10px 0 0 0; }
  .logIn .logInLeft form a {
    text-decoration: none;
    color: #eb7a2d;
    font-size: 14px;
    margin-left: 30px;
    font-style: italic; }
.logIn .logInRight {
  padding: 29px; }
  .logIn .logInRight h2 {
    color: #5b5c5a;
    font-family: "avalonregular";
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 33px; }
  .logIn .logInRight p {
    color: #555;
    font-size: 14px;
    line-height: 23px; }
  .logIn .logInRight a {
    margin: 145px 0 0 0;
    width: 125px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background-color: #eb7a2d;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: block;
    text-decoration: none; }
.logIn .logInBottom {
  padding: 24px 0 24px 51px;
  border-top: 2px solid #f6f6f6;
  text-align: center;
  margin-top: -2px; }
  .logIn .logInBottom h2 {
    display: inline-block;
    vertical-align: middle;
    color: #5b5c5a;
    font-family: "avalonregular";
    font-size: 24px;
    margin-right: 55px; }
  .logIn .logInBottom .loginSocial {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
    margin: 0; }
    .logIn .logInBottom .loginSocial ul li {
      margin: 0 5px; }

.contactUs .contentInside {
  padding: 30px 21px 16px 29px; }
.contactUs .contactUsItem1,
.contactUs .contactUsItem2,
.contactUs .contactUsItem3 {
  display: inline-block;
  vertical-align: top;
  width: 32.7%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.contactUs .contactUsItem1 {
  padding: 0 78px 0 0; }
  .contactUs .contactUsItem1 h2 {
    color: #5b5c5a;
    font-family: "avalonregular";
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 24px; }
  .contactUs .contactUsItem1 form label {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 7px; }
  .contactUs .contactUsItem1 form input {
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #e9e9e9;
    color: #5b5c5a;
    font-size: 16px;
    margin: 0 0 30px;
    border: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 17px; }
  .contactUs .contactUsItem1 form textarea {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    min-height: 256px;
    border: none;
    background-color: #e9e9e9; }
  .contactUs .contactUsItem1 form button {
    border: none;
    background: #eb7a2d;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 0 0 0; }
.contactUs .contactUsItem2 {
  margin-top: 72px; }
  .contactUs .contactUsItem2 ul li {
    min-height: 63px;
    padding-left: 80px;
    overflow: hidden;
    margin-bottom: 37px; }
    .contactUs .contactUsItem2 ul li:nth-child(1) {
      background: url(../img/contactImg.png) 0 0 no-repeat; }
    .contactUs .contactUsItem2 ul li:nth-child(2) {
      background: url(../img/contactImg.png) 0 -97px no-repeat; }
    .contactUs .contactUsItem2 ul li:nth-child(3) {
      background: url(../img/contactImg.png) 0 -203px no-repeat; }
    .contactUs .contactUsItem2 ul li h2 {
      margin-bottom: 9px;
      font-family: "avalonregular";
      color: #5b5c5a;
      font-size: 20px;
      font-weight: normal; }
    .contactUs .contactUsItem2 ul li p, .contactUs .contactUsItem2 ul li h3, .contactUs .contactUsItem2 ul li a {
      color: #999;
      font-size: 14px;
      text-decoration: none;
      font-weight: normal;
      display: block; }
.contactUs .contactUsItem3 iframe {
  width: 100%;
  height: 652px; }

.service.content {
  padding: 26px 0 70px 0; }
  .service.content .faqInfo {
    height: 79px;
    line-height: 79px;
    margin: 41px 0 0; }
  .service.content .serviceCheckBox input[type=checkbox] {
    display: none; }
  .service.content .serviceCheckBox input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-color: white;
    border: 1px solid rgba(40, 38, 34, 0.2);
    margin: 0 9px 0 6px; }
  .service.content .serviceCheckBox input[type=checkbox]:checked + label:before {
    content: "X";
    color: white;
    background-color: #eb7a2d;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid transparent; }
  .service.content .serviceBox {
    margin: 45px 0 0; }
    .service.content .serviceBox .serviceRight {
      padding-left: 25px; }
    .service.content .serviceBox .serviceLeft,
    .service.content .serviceBox .serviceRight {
      display: inline-block;
      vertical-align: top;
      width: 48.8%;
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .service.content .serviceBox .serviceLeft h2,
      .service.content .serviceBox .serviceRight h2 {
        color: #5b5c5a;
        font-family: "avalonregular";
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 36px; }
      .service.content .serviceBox .serviceLeft .serviceInfo,
      .service.content .serviceBox .serviceRight .serviceInfo {
        cursor: help;
        display: inline-block;
        vertical-align: middle;
        background-color: #e9e9e9;
        color: #999;
        font-size: 14px;
        padding: 7px 17px;
        margin-top: 2px; }
      .service.content .serviceBox .serviceLeft .serviceCheckBox,
      .service.content .serviceBox .serviceRight .serviceCheckBox {
        margin-bottom: 47px; }
        .service.content .serviceBox .serviceLeft .serviceCheckBox li,
        .service.content .serviceBox .serviceRight .serviceCheckBox li {
          padding: 0 0 11px;
          margin-bottom: 6px;
          border-bottom: 1px solid #e2e0db;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .service.content .serviceBox .serviceLeft .serviceCheckBox li:last-child,
          .service.content .serviceBox .serviceRight .serviceCheckBox li:last-child {
            border: none; }
          .service.content .serviceBox .serviceLeft .serviceCheckBox li label,
          .service.content .serviceBox .serviceRight .serviceCheckBox li label {
            color: #5b5c5a;
            font-size: 14px; }
      .service.content .serviceBox .serviceLeft .serviceCalculator,
      .service.content .serviceBox .serviceRight .serviceCalculator {
        padding: 5px 208px 0 0;
        margin-bottom: 165px; }
        .service.content .serviceBox .serviceLeft .serviceCalculator .hideItem, .service.content .serviceBox .serviceLeft .serviceCalculator .close-popup,
        .service.content .serviceBox .serviceRight .serviceCalculator .hideItem,
        .service.content .serviceBox .serviceRight .serviceCalculator .close-popup {
          margin: 0; }
        .service.content .serviceBox .serviceLeft .serviceCalculator h2,
        .service.content .serviceBox .serviceRight .serviceCalculator h2 {
          color: #5b5c5a;
          font-size: 14px;
          margin-bottom: 20px;
          font-weight: normal; }
      .service.content .serviceBox .serviceLeft .costsBox,
      .service.content .serviceBox .serviceRight .costsBox {
        border-top: 2px solid #f1f1f1; }
        .service.content .serviceBox .serviceLeft .costsBox h2,
        .service.content .serviceBox .serviceRight .costsBox h2 {
          color: #5b5c5a;
          font-family: "avalonregular";
          font-size: 24px;
          font-weight: normal; }
        .service.content .serviceBox .serviceLeft .costsBox h3,
        .service.content .serviceBox .serviceRight .costsBox h3 {
          float: right;
          color: #eb7a2d;
          font-family: "BenderBoldItalic";
          font-size: 30px; }
      .service.content .serviceBox .serviceLeft .serviceForm,
      .service.content .serviceBox .serviceRight .serviceForm {
        padding-right: 177px; }
        .service.content .serviceBox .serviceLeft .serviceForm .serviceInfo,
        .service.content .serviceBox .serviceRight .serviceForm .serviceInfo {
          vertical-align: bottom;
          margin-left: 10px; }
        .service.content .serviceBox .serviceLeft .serviceForm label,
        .service.content .serviceBox .serviceRight .serviceForm label {
          color: #999;
          font-size: 14px;
          display: block;
          margin: 28px 0 13px; }
        .service.content .serviceBox .serviceLeft .serviceForm input,
        .service.content .serviceBox .serviceRight .serviceForm input {
          width: 80%;
          height: 47px;
          line-height: 47px;
          background-color: #e9e9e9;
          color: #5b5c5a;
          font-size: 16px;
          border: none;
          -webkit-box-sizing: border-box;
          -khtml-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 17px;
          display: inline-block; }
        .service.content .serviceBox .serviceLeft .serviceForm textarea,
        .service.content .serviceBox .serviceRight .serviceForm textarea {
          resize: none;
          width: 100%;
          -webkit-box-sizing: border-box;
          -khtml-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          padding: 10px;
          min-height: 140px;
          border: none;
          background-color: #e9e9e9; }
        .service.content .serviceBox .serviceLeft .serviceForm button,
        .service.content .serviceBox .serviceRight .serviceForm button {
          border: none;
          background: #eb7a2d;
          color: white;
          font-size: 14px;
          padding: 10px 29px;
          margin: 20px 0 0 0;
          float: right; }
      .service.content .serviceBox .serviceLeft .costsBox,
      .service.content .serviceBox .serviceRight .costsBox {
        margin: 0 208px 0 0;
        padding-top: 14px; }
        .service.content .serviceBox .serviceLeft .costsBox h2,
        .service.content .serviceBox .serviceRight .costsBox h2 {
          padding-top: 6px; }

.content.productDesc {
  padding: 27px 0 141px 0;
  position: relative; }
  .content.productDesc .contentTitle {
    margin: 73px 0 31px; }
  .content.productDesc .productsBox {
    text-align: left;
    margin: 35px 0 0; }
    .content.productDesc .productsBox > h2 {
      margin: 0 33px 19px; }
    .content.productDesc .productsBox .productsSliderItem, .content.productDesc .productsBox .productBoxItem {
      box-shadow: none;
      border: 1px solid #F6F6F6; }

.productDescBox {
  overflow: hidden;
  padding-bottom: 27px;
  border: 1px solid rgba(40, 38, 34, 0.2); }
  .productDescBox .productDescLeft {
    display: inline-block;
    vertical-align: top; }
    .productDescBox .productDescLeft .productDescSliderWrap {
      border-right: 1px solid rgba(40, 38, 34, 0.2);
      border-bottom: 1px solid rgba(40, 38, 34, 0.2);
      width: 568px;
      height: 459px;
      margin-bottom: 2px;
      text-align: center;
      display: inline-block;
      vertical-align: top; }
      .productDescBox .productDescLeft .productDescSliderWrap .productDescSlider img {
        width: 100%; }
      .productDescBox .productDescLeft .productDescSliderWrap .productDescSlider iframe {
        width: 100%;
        height: 459px; }
    .productDescBox .productDescLeft .lSGallery {
      height: 113px; }
      .productDescBox .productDescLeft .lSGallery li {
        border-radius: 0 !important; }
        .productDescBox .productDescLeft .lSGallery li:hover {
          border-radius: 0; }
        .productDescBox .productDescLeft .lSGallery li a {
          border: 1px solid rgba(40, 38, 34, 0.2);
          display: inline-block;
          width: 137px;
          height: 112px;
          margin-right: 1px; }
          .productDescBox .productDescLeft .lSGallery li a img {
            width: 100%; }
      .productDescBox .productDescLeft .lSGallery li:first-child a {
        border-left: none; }
  .productDescBox .productDescRight {
    display: inline-block;
    vertical-align: top;
    width: 590px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 26px 20px 0 26px; }
    .productDescBox .productDescRight .productDescTitle {
      font-family: "BenderBoldItalic";
      font-size: 30px;
      font-weight: normal;
      color: #eb7a2d;
      margin-bottom: 26px; }
      .productDescBox .productDescRight .productDescTitle span {
        font-size: 18px;
        font-family: "BenderItalic";
        text-decoration: line-through;
        color: #999;
        margin-left: 26px; }
      .productDescBox .productDescRight .productDescTitle i {
        font-size: 18px;
        font-family: "BenderItalic";
        color: #333; }
    .productDescBox .productDescRight p {
      color: #222429;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 29px; }
    .productDescBox .productDescRight .numberForm {
      margin-bottom: 26px; }
      .productDescBox .productDescRight .numberForm h2 {
        color: #999;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px; }
    .productDescBox .productDescRight .someTools h2 {
      color: #999;
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px; }
    .productDescBox .productDescRight .someTools .someToolsItem {
      display: inline-block;
      vertical-align: top; }
      .productDescBox .productDescRight .someTools .someToolsItem .grayBox {
        width: 140px;
        height: 114px;
        background: #e9e9e9;
        position: relative; }
        .productDescBox .productDescRight .someTools .someToolsItem .grayBox:hover:after {
          content: "+";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 3px solid #eb7a2d;
          font-size: 72px;
          color: #eb7a2d;
          text-align: center;
          line-height: 105px;
          -webkit-box-sizing: border-box;
          -khtml-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
      .productDescBox .productDescRight .someTools .someToolsItem h2 {
        color: #555;
        font-size: 14px;
        font-weight: 700;
        margin: 8px 0 0; }
      .productDescBox .productDescRight .someTools .someToolsItem h3 {
        font-family: "BenderBoldItalic";
        color: #eb7a2d;
        line-height: 16px;
        font-size: 18px; }
    .productDescBox .productDescRight .addToCart {
      display: inline-block;
      background: #eb7a2d;
      padding: 13px 25px;
      color: white;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      border: none;
      margin: 25px 0 16px; }
    .productDescBox .productDescRight .socialBox h2 {
      display: inline-block;
      vertical-align: middle;
      color: #999;
      font-size: 14px;
      font-weight: normal;
      margin-right: 11px; }
    .productDescBox .productDescRight .socialBox .productDescSocial {
      display: inline-block;
      vertical-align: middle;
      overflow: hidden; }
      .productDescBox .productDescRight .socialBox .productDescSocial li {
        float: left; }
        .productDescBox .productDescRight .socialBox .productDescSocial li a {
          margin-left: 4px;
          display: block;
          width: 28px;
          height: 27px; }
        .productDescBox .productDescRight .socialBox .productDescSocial li:nth-child(1) a {
          background: url(../img/productDescSocial.png) 0 0 no-repeat; }
        .productDescBox .productDescRight .socialBox .productDescSocial li:nth-child(2) a {
          background: url(../img/productDescSocial.png) -31px 0 no-repeat; }
        .productDescBox .productDescRight .socialBox .productDescSocial li:nth-child(3) a {
          background: url(../img/productDescSocial.png) -64px 0 no-repeat; }
        .productDescBox .productDescRight .socialBox .productDescSocial li:nth-child(4) a {
          background: url(../img/productDescSocial.png) -96px 0 no-repeat; }
        .productDescBox .productDescRight .socialBox .productDescSocial li:nth-child(5) a {
          background: url(../img/productDescSocial.png) -128px 0 no-repeat; }

.numberBox {
  width: 145px;
  height: 47px;
  position: relative; }
  .numberBox:after {
    content: "";
    position: absolute;
    width: 38%;
    height: 100%;
    border-left: 2px solid #DADADA;
    border-right: 2px solid #DADADA;
    margin-left: 28%;
    left: 0; }
  .numberBox button {
    background: #e9e9e9;
    font-family: "BenderBold";
    width: 30%;
    border: none;
    height: 100%;
    line-height: 47px;
    text-align: center;
    color: #999;
    font-size: 18px;
    margin-left: -0.36em;
    outline: none; }
  .numberBox input {
    border: none;
    background: #e9e9e9;
    font-family: "BenderBold";
    width: 40%;
    height: 100%;
    line-height: 47px;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-left: -0.36em; }

.productDescSliderPager {
  position: absolute;
  right: 26px;
  top: 119px;
  z-index: 2;
  padding: 0 4px; }
  .productDescSliderPager span a {
    text-decoration: none;
    width: 8px;
    height: 8px;
    border-left: 5px solid #999;
    border-bottom: 5px solid #999;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    .productDescSliderPager span a:hover {
      border-color: #eb7a2d; }
  .productDescSliderPager span:nth-child(2) a {
    -webkit-transform: rotate(225deg);
    -khtml-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg); }

.content.checkOut {
  padding: 62px 0 204px 0; }
  .content.checkOut .checkOutContent {
    margin: 37px 0 0 0;
    padding: 0 0 20px;
    overflow: hidden; }

.checkOutTable table {
  width: 100%;
  margin-bottom: 37px; }
  .checkOutTable table tr {
    border-bottom: 2px solid #f6f6f6;
    position: relative; }
    .checkOutTable table tr td:last-child {
      margin: 58px 30px 0 0;
      position: absolute;
      right: 0; }
    .checkOutTable table tr:nth-child(1) {
      color: #999;
      font-size: 14px;
      height: 76px; }
      .checkOutTable table tr:nth-child(1) th:nth-child(2) {
        text-align: right; }
      .checkOutTable table tr:nth-child(1) th:nth-child(3) {
        text-align: right; }
      .checkOutTable table tr:nth-child(1) th:last-child {
        padding-right: 95px; }
    .checkOutTable table tr td {
      -webkit-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
    .checkOutTable table tr:not(:first-child) td:first-child {
      border: 1px solid #f6f6f6;
      text-align: center; }
      .checkOutTable table tr:not(:first-child) td:first-child img {
        height: 133px; }
    .checkOutTable table tr:not(:first-child) td:nth-child(2) {
      width: 393px;
      padding-left: 30px; }
      .checkOutTable table tr:not(:first-child) td:nth-child(2) h2 {
        color: #555;
        font-size: 14px;
        font-weight: 700; }
        .checkOutTable table tr:not(:first-child) td:nth-child(2) h2 span {
          display: block;
          font-weight: 400; }
      .checkOutTable table tr:not(:first-child) td:nth-child(2) h3 {
        margin: 10px 6px 0 0;
        font-size: 14px;
        float: right;
        color: #eb7a2d;
        font-family: "BenderBold"; }
    .checkOutTable table tr:not(:first-child) td:nth-child(3) {
      width: 137px;
      color: #555;
      font-family: "BenderItalic";
      font-size: 18px;
      text-align: right; }
    .checkOutTable table tr:not(:first-child) td:nth-child(4) {
      width: 287px; }
      .checkOutTable table tr:not(:first-child) td:nth-child(4) .numberBox {
        margin: 0 0 0 73px; }
    .checkOutTable table tr:not(:first-child) td:nth-child(5) {
      padding-right: 34px;
      text-align: right;
      color: #eb7a2d;
      font-size: 18px;
      font-family: "BenderBoldItalic"; }

.checkOutBtn {
  background: #5b5c5a;
  padding: 13px 25px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 27px;
  text-decoration: none; }

.checkOutPrice {
  float: right;
  width: 370px; }
  .checkOutPrice .checkOutPriceHeader {
    padding: 17px 30px 46px 0;
    border-bottom: 2px solid #f1f1f1; }
    .checkOutPrice .checkOutPriceHeader h2 {
      color: #5b5c5a;
      font-family: "avalonregular";
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 28px; }
      .checkOutPrice .checkOutPriceHeader h2 b {
        font-weight: normal;
        font-size: 14px; }
      .checkOutPrice .checkOutPriceHeader h2 span {
        float: right;
        font-size: 18px;
        color: #eb7a2d;
        font-family: "BenderBoldItalic";
        line-height: 14px; }
    .checkOutPrice .checkOutPriceHeader h3 {
      font-size: 24px;
      color: #5b5c5a;
      font-family: "avalonregular";
      font-weight: normal; }
      .checkOutPrice .checkOutPriceHeader h3 span {
        float: right;
        font-size: 30px;
        color: #eb7a2d;
        font-family: "BenderBlackItalic";
        line-height: 13px; }
  .checkOutPrice button {
    background: #eb7a2d;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    padding: 13px 36px;
    margin: 26px 0 0 0; }

.checkOutDiscount {
  margin: -146px 0 0 27px;
  display: inline-block;
  vertical-align: top;
  width: 290px; }
  .checkOutDiscount h2 {
    font-family: "avalonregular";
    color: #5b5c5a;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px; }
  .checkOutDiscount label {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 9px; }
  .checkOutDiscount input {
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #e9e9e9;
    color: #5b5c5a;
    font-size: 16px;
    border: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 17px;
    display: inline-block; }
  .checkOutDiscount button {
    background: #eb7a2d;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 11px 21px;
    margin: 22px 0 46px; }
  .checkOutDiscount textarea {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px 18px;
    min-height: 166px;
    border: none;
    background-color: #e9e9e9; }

.checkOutShipping {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  margin: -146px 0 0 79px; }
  .checkOutShipping h2 {
    font-family: "avalonregular";
    color: #5b5c5a;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 21px; }
  .checkOutShipping h3 {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 19px; }
  .checkOutShipping label {
    color: #999;
    font-size: 14px;
    display: block;
    margin-bottom: 9px; }
  .checkOutShipping input, .checkOutShipping .ui-selectmenu-button {
    margin-bottom: 15px;
    height: 47px;
    line-height: 47px;
    color: #5b5c5a;
    font-size: 16px;
    border: none;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 17px;
    display: inline-block;
    border-radius: 0 !important;
    width: 100% !important;
    background: #e9e9e9 !important; }
  .checkOutShipping .ui-selectmenu-button span.ui-selectmenu-text {
    padding: 0 !important;
    line-height: inherit !important; }
  .checkOutShipping button {
    background: #eb7a2d;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 11px 22px;
    margin: 6px 0 0 0; }

.faqPayment {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 100px; }
  .faqPayment ul li {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle; }

.blogPost .contentTitle {
  margin-bottom: 35px; }

.blogPost {
  overflow: hidden; }

.blogContent {
  width: 74%;
  float: right;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  border: 1px solid rgba(40, 38, 34, 0.2);
  padding: 23px 25px 72px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .blogContent .blogContentHeader {
    overflow: hidden; }
    .blogContent .blogContentHeader h2 {
      margin-top: 6px;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      font-style: italic;
      color: #555;
      font-weight: normal; }
      .blogContent .blogContentHeader h2 span {
        color: #eb7a2d; }
    .blogContent .blogContentHeader h3 {
      display: inline-block;
      vertical-align: middle;
      float: right;
      color: #555;
      font-size: 12px;
      font-style: italic;
      font-weight: normal;
      line-height: 19px;
      margin-right: 7px; }
      .blogContent .blogContentHeader h3 span {
        color: #eb7a2d;
        font-family: "BenderBoldItalic";
        font-size: 24px; }
  .blogContent .blogContentBody .blogContentBodyL,
  .blogContent .blogContentBody .blogContentBodyR {
    display: inline-block;
    vertical-align: top;
    width: 46%; }
  .blogContent .blogContentBody .blogContentBodyL {
    margin-right: 7.5%; }
  .blogContent .blogContentBody .blogContentBodyR {
    margin-top: 46px; }
  .blogContent .blogContentBody h1 {
    margin: 41px 0 45px;
    font-family: "avalonregular";
    color: #eb7a2d;
    font-size: 30px;
    line-height: 48px; }
  .blogContent .blogContentBody .grayBox {
    width: 400px;
    height: 317px;
    background: #999;
    position: relative;
    left: -26px;
    margin-bottom: 55px; }
  .blogContent .blogContentBody h2 {
    margin-bottom: 23px;
    color: #010101;
    font-size: 21px;
    font-weight: normal; }
  .blogContent .blogContentBody p {
    color: #555;
    font-size: 14px;
    line-height: 24px; }
  .blogContent .blogComment {
    margin-top: 58px; }
    .blogContent .blogComment .blogCommentInfo a {
      display: inline-block;
      float: right;
      font-family: "BenderBold";
      color: white;
      font-size: 18px;
      text-decoration: none;
      background: #eb7a2d;
      padding: 13px 24px; }
    .blogContent .blogComment .blogCommentInfo h2 {
      padding: 10px 0 15px;
      font-size: 20px;
      text-transform: uppercase;
      color: black;
      font-weight: normal; }
      .blogContent .blogComment .blogCommentInfo h2 span {
        color: #eb7a2d; }
    .blogContent .blogComment .mainComment,
    .blogContent .blogComment .subComment {
      border-bottom: 2px solid #f1f1f1;
      margin-bottom: 32px; }
      .blogContent .blogComment .mainComment h2,
      .blogContent .blogComment .subComment h2 {
        font-size: 18px;
        color: #eb7a2d;
        font-weight: normal;
        margin-bottom: 4px; }
        .blogContent .blogComment .mainComment h2 span,
        .blogContent .blogComment .subComment h2 span {
          color: #555; }
      .blogContent .blogComment .mainComment h3,
      .blogContent .blogComment .subComment h3 {
        color: #999;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 22px;
        font-weight: normal; }
      .blogContent .blogComment .mainComment p,
      .blogContent .blogComment .subComment p {
        color: #555;
        font-size: 14px; }
      .blogContent .blogComment .mainComment a,
      .blogContent .blogComment .subComment a {
        margin: 15px 0 18px;
        display: inline-block;
        height: 14px;
        color: #eb7a2d;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline; }
        .blogContent .blogComment .mainComment a:hover,
        .blogContent .blogComment .subComment a:hover {
          text-decoration: none; }
    .blogContent .blogComment .subComment {
      margin: 0 0 32px 71px; }

.blogAside {
  width: 23%;
  float: right;
  margin-right: 2.6%;
  display: inline-block;
  vertical-align: top; }
  .blogAside .blogAsideInisde {
    background-color: white;
    border: 1px solid rgba(40, 38, 34, 0.2); }
  .blogAside .blogAsideBox .grayBox {
    width: 100%;
    height: 200px;
    background: #999; }
  .blogAside .blogAsideBox .blogAsideBoxContent {
    padding: 31px 20px 34px 29px; }
  .blogAside .blogAsideBox h2 {
    margin-bottom: 10px;
    color: #5b5c5a;
    font-family: "avalonregular";
    font-size: 14px;
    text-transform: uppercase; }
  .blogAside .blogAsideBox h3 {
    margin-bottom: 22px;
    color: #555;
    font-size: 12px;
    font-style: italic; }
  .blogAside .blogAsideBox p {
    line-height: 23px;
    color: #555;
    font-size: 14px; }
  .blogAside .tagBox {
    padding: 43px 0 0 27px; }
    .blogAside .tagBox h2 {
      color: #5b5c5a;
      font-family: "avalonregular";
      font-size: 24px;
      margin-bottom: 15px; }
    .blogAside .tagBox > a {
      font-family: "BenderItalic";
      color: black;
      font-size: 14px;
      margin: 10px 0 0;
      display: inline-block;
      font-weight: bold; }
      .blogAside .tagBox > a:hover {
        text-decoration: none; }
    .blogAside .tagBox ul {
      overflow: hidden; }
      .blogAside .tagBox ul li {
        float: left;
        margin: 0 8px 8px 0; }
        .blogAside .tagBox ul li a {
          background: #e9e9e9;
          padding: 8px 13px;
          display: block;
          font-family: "BenderRegular";
          color: #333;
          font-size: 12px;
          text-decoration: none; }

.radioBox {
  overflow: hidden; }

.radioBtn {
  width: 50%;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background: #e9e9e9;
  color: #999;
  display: block;
  float: left;
  border: none;
  cursor: pointer;
  margin: 0;
  font-family: "avalonregular";
  font-size: 14px; }

.radio-label {
  display: none; }

.radio-label:checked + .radioBtn {
  background: white;
  color: black; }

/*# sourceMappingURL=style.css.map */
